<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>烘焙工作坊後台管理</title>

    <style>
        body, html {
            height: 100%;
        }

        .bg {
            /* The image used */
            background-image: url("https://i.imgur.com/kQ6X8Jc.jpg");

            /* Full height */
            height: 88%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>
    <div th:replace="/admin/css.html"></div>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="/admin/sidebar.html"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">


        <!-- Main Content -->
        <div id="content" class="bg">

            <div th:replace="/admin/header.html"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- 										<img src="https://i.imgur.com/Zx6HLup.jpg" alt="group3_photo" > -->
                <!-- Page Heading -->
                <!-- 										<h1 class="h3 mb-2 text-gray-800" align="center">烘焙工作坊後台管理</h1> -->
                <!-- 										<p style="text-align:center;"> -->

                <!-- 										</p>				 -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <div th:replace="/admin/footer.html"></div>


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<div th:replace="/admin/javascript.html"></div>
<!-- Page level custom scripts -->


<!-- 訂單頁面 -->
<script th:src="@{/js/order.js}"></script>


</body>

</html>