<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>購物車</title>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">烘焙工作坊</a>
	</nav>

	<div class="container-fluid">
		<div class="card-body">
			<div class="card-body">
				<div class="row mb-3">
					<div class="col-sm-9">
						<select class="form-control form-select mb-3" id="itemId"
							aria-label="Default select example">
							
							<option th:each="good: ${goods}" th:value="${good.id}" th:text="|${good.name} ${good.packages}元|"></option>

						</select>
					</div>
					<div class="col-sm-3">
						<button type="button" class="btn btn-primary btn-block"
							id="addCart">加入購物車</button>
					</div>
				</div>
			</div>
			<div class="card card-body" id="cartBody">
				<div th:replace="/order/CartBody.html"></div>
			</div>
		</div>
	</div>





	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
        $(function () {
            $('#cartBody').on('click', '.minus', function () {
                // console.log('minus')
                let input = $(this).next('input')
                let id = $(this).parent().parent().children().closest('.product-id').val();
				console.log("minus " + id)
                let qty = input.val()
                if (parseInt(qty) > 1) {
                    qty--;
                    update(id,qty)
                } else {
                	remove(id)
                }
                //input.val(qty)
				//update(id,qty)               

            })
            $('#cartBody').on('click', '.plus', function () {
                // console.log('plus')
                let input = $(this).prev('input')
                let id = $(this).parent().parent().children().closest('.product-id').val();
                let qty = input.val()
                if (parseInt(qty) < 20) {
                    qty++;
                } else {
                    qty = 20
                }
                //input.val(qty)
                update(id,qty) 
            })
            $('#cartBody').on('blur', '.product-qty input', function () {
                console.log($(this).val())
                let id = $(this).parent().parent().children().closest('.product-id').val();
                let input = $(this)
                let qty = input.val()
                if (parseInt(qty) > 0) {
                    //qty = 20
                    update(id,qty)
                } else if(parseInt(qty) < 1) {
                	remove(id)
                }
                //input.val(qty)
                 
            })

            
            $('#addCart').click(function(){
            	let id = $('#itemId').val()
            	fetch("./Cart/Add?type=G&itemId="+id).then(response => response.text())
            	.then(function(data){
            	updateTable(data)            		
            	})
            })            
        })
            function updateTable(data){
                $('#cartBody').html(data)
            }
            
            function remove(id){
                Swal.fire({
                    title: '是否把此商品從購物車移除！',
                    text: "",
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: '否',
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: '是'
                }).then((result) => {
                    	if (result.isConfirmed) {
                        	fetch("./Cart/Remove?itemNo="+id).then(response => response.text())
                        	.then(function(data){
                        	updateTable(data)            		
                        	})
                    	}
                    	
                    })
            }
            function update(id,qty){
            	fetch("./Cart/Update?itemNo="+id+'&qty='+qty).then(response => response.text())
            	.then(function(data){
            	updateTable(data)            		
            	})
            }
            function checkout(){
            let shippingFee=parseInt($('#shippingFee').text().slice(1));
            console.log('shippingFee='+shippingFee)
            let total=parseInt($('#total').text().slice(1));
            console.log('total='+total)
            if(shippingFee > 0 && total>shippingFee){
            	location.href = './CheckOut'
            }else{
                Swal.fire(
                        '購物車沒有商品，無法結帳！',
                        '',
                        'warning'
                    )
            }
            	
            }
    </script>
</body>

</html>