<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>購物車</title>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">烘焙工作坊</a>
	</nav>

	<div class="container-fluid">
		<div class="card-body">
			<div class="card-body"></div>
			<div class="card card-body" id="cartBody">
				<table class="table text-center">
					<thead>
						<tr>
							<th scope="col" class="col-sm-5">商品名稱</th>
							<th scope="col" class="col-sm-1">商品類型</th>
							<th scope="col" class="col-sm-1">單價</th>
							<th scope="col" class="col-sm-2">數量</th>
							<th scope="col" class="col-sm-1">小計</th>
						</tr>
					</thead>
					<tbody>
							<tr th:each="cartItem: ${cart.cart}">
								<td class="product-name" th:text="${cartItem.value.productName }"></td>
								<td class="product-type" th:text="${cartItem.value.productType}"></td>
								<td class="product-price" th:text="|$${cartItem.value.price }|"></td>
								<td class="product-qty" th:text="${cartItem.value.qty}"></td>
								<td class="text-right product-subTotal"th:text="|$${cartItem.value.subTotal}|"></td>
							</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3" class="text-right">運費</td>
							<td colspan="2" class="text-right" id="shippingFee" th:text="|$${cart.shippingFee}|"></td>
						</tr>
						<tr th:if="${cart.coupon}">
							<td colspan="4" class="text-right" th:text="|優惠卷:${cart.coupon.code}|"></td>
							<td colspan="2" class="text-right" id="coupon" th:text="|-$${  }|"></td>
						</tr>
						<tr>
							<td colspan="3 " class="text-right">合計</td>
							<td colspan="2" class="text-right" id="total"th:text="|$${cart.total}|"></td>
						</tr>
					</tfoot>
				</table>

			</div>
		</div>

		<div class="card-body">
<!-- 			<div class="card-body"></div> -->
			<div class="card card-body">
			<form action="" method="post">
				<div class="row mb-3">
					<label class="col-sm-2 col-form-labels">付款方式:</label>
					<div class="col-sm-10">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="payType" id="ECPAY" value="ECPAY" checked>
							<label class="form-check-label" for="ECPAY">綠界支付</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="payType" id="PAYPAL" value="PAYPAL">
							<label class="form-check-label" for="PAYPAL"><i class="fab fa-cc-paypal"></i>PAYPAL</label>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="address"
						   class="col-sm-2 col-form-labels">地址:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							   name="address" id="address" placeholder="請輸入地址"
							   required="required" th:value="${address}" />
					</div>
				</div>
<input type="submit" value="提交訂單"  class="btn btn-warning col-12" />


				</form>
			</div>
		</div>
	</div>





	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>