<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>購買清單</title>

    <div th:replace="css.html"></div>
    <style>

    </style>


</head>

<body>
<div th:replace="header.html"></div>
<div th:replace="menu.html"></div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>購買清單</h2>
                    <div class="breadcrumb__option">
                        <a href="/">首頁</a>
                        <span>購買清單</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<section>
    <div class="container">
        <div class="row">
            <div th:replace="user/UserSidebar.html"></div>
            <!--            <div class="col-2">-->
            <!--                <div class="blog__sidebar">-->
            <!--                    <div class="blog__sidebar__item">-->
            <!--                        <h4>待修改</h4>-->
            <!--                        <ul>-->
            <!--                            <li><a href="#">All</a></li>-->
            <!--                            <li><a href="#">Beauty (20)</a></li>-->
            <!--                            <li><a href="#">Food (5)</a></li>-->
            <!--                            <li><a href="#">Life Style (9)</a></li>-->
            <!--                            <li><a href="#">Travel (10)</a></li>-->
            <!--                        </ul>-->
            <!--                    </div>-->

            <!--                </div>-->
            <!--            </div>-->
            <div class="col-lg-10 pt-5">
                <div class="card shadow mb-4">
                <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab"
                           aria-controls="all"
                           aria-selected="false">全部</a>
                    </li>
                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="wait-pay-tab" data-toggle="tab" href="#waitpay" role="tab"
                           aria-controls="waitpay"
                           aria-selected="false">待付款</a>
                    </li>
                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="wait-ship-tab" data-toggle="tab" href="#waitship" role="tab"
                           aria-controls="waitship" aria-selected="false">待出貨</a>
                    </li>
                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="receive-tab" data-toggle="tab" href="#receive" role="tab"
                           aria-controls="receive"
                           aria-selected="false">待收貨</a>
                    </li>
                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="finish-tab" data-toggle="tab" href="#finish" role="tab"
                           aria-controls="finish"
                           aria-selected="false">完成</a>
                    </li>
                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="cancel-tab" data-toggle="tab" href="#cancel" role="tab"
                           aria-controls="cancel"
                           aria-selected="false">已取消</a>
                    </li>
                </ul>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="all" role="tabpanel" aria-labelledby="all-tab">
                                    <table id="tableAll" class="table text-center" width="100%">
                                        <thead>
                                        <tr>
                                            <th>訂單編號</th>
                                            <th>訂單日期</th>
                                            <th>付款方式</th>
                                            <th>總金額</th>
                                            <th>訂單狀態</th>
                                            <th>訂單明細</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="waitpay" role="tabpanel" aria-labelledby="wait-pay-tab">
                                    <table id="tableWaitpay" class="table text-center" width="100%">
                                        <thead>
                                        <tr>
                                            <th>訂單編號</th>
                                            <th>訂單日期</th>
                                            <th>付款方式</th>
                                            <th>總金額</th>
                                            <th>訂單狀態</th>
                                            <th>訂單明細</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="waitship" role="tabpanel"
                                     aria-labelledby="wait-ship-tab">
                                    <table id="tableWaitship" class="table text-center" width="100%">
                                        <thead>
                                        <tr>
                                            <th>訂單編號</th>
                                            <th>訂單日期</th>
                                            <th>付款方式</th>
                                            <th>總金額</th>
                                            <th>訂單狀態</th>
                                            <th>訂單明細</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="receive" role="tabpanel" aria-labelledby="receive-tab">
                                    <table id="tableReceive" class="table text-center" width="100%">
                                        <thead>
                                        <tr>
                                            <th>訂單編號</th>
                                            <th>訂單日期</th>
                                            <th>付款方式</th>
                                            <th>總金額</th>
                                            <th>訂單狀態</th>
                                            <th>訂單明細</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="finish" role="tabpanel" aria-labelledby="finish-tab">
                                    <table id="tableFinish" class="table text-center" width="100%">
                                        <thead>
                                        <tr>
                                            <th>訂單編號</th>
                                            <th>訂單日期</th>
                                            <th>付款方式</th>
                                            <th>總金額</th>
                                            <th>訂單狀態</th>
                                            <th>訂單明細</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="cancel" role="tabpanel" aria-labelledby="cancel-tab">
                                    <table id="tableCancel" class="table text-center" width="100%">
                                        <thead>
                                        <tr>
                                            <th>訂單編號</th>
                                            <th>訂單日期</th>
                                            <th>付款方式</th>
                                            <th>總金額</th>
                                            <th>訂單狀態</th>
                                            <th>訂單明細</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <!--            <div id="pages"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<div th:replace="footer.html"></div>

<script th:src="@{/js/order.js}"></script>


<script>
    $(function () {
        var tableAll = genDataTable('tableAll', '');
        var tableWaitpay = genDataTable('tableWaitpay', '待付款');
        var tableWaitship = genDataTable('tableWaitship', '待出貨');
        var tableReceive = genDataTable('tableReceive', '待收貨');
        var tableFinish = genDataTable('tableFinish', '完成');
        var tableCancel = genDataTable('tableCancel', '已取消');





        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            var tab_target = $(e.target).text();
            console.log(tab_target);
            if(tab_target === '全部') {
                tableAll.columns.adjust().draw();
            }else if (tab_target === '待付款') {
                tableWaitpay.columns.adjust().draw();
            }else if (tab_target === '待出貨') {
                tableWaitship.columns.adjust().draw();
            }else if (tab_target === '待收貨') {
                tableReceive.columns.adjust().draw();
            }else if (tab_target === '完成') {
                tableFinish.columns.adjust().draw();
            }else if (tab_target === '已取消') {
                tableCancel.columns.adjust().draw();
            }

        });


    });


    function genDataTable(tableId, orderStatus) {
        return $('#'+tableId).DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/zh-HANT.json'
            },
            ajax: {
                url: '[[@{/Orders}]]?orderStatus='+orderStatus,
                dataSrc: ''
            },
            columns: [
                {data: 'orderNo'},
                {data: 'orderDate'},
                {data: 'payType',
                    render:function (data, type, row) {
                        if(data==='ECPAY'){
                            return '綠界支付';
                        }else {
                            return data;
                        }
                    }},
                {data: 'totalPrice',
                render:function (data, type, row) {
                    return 'NT$'+data;
                }},
                {data: 'orderStatus'},
                {
                    data: 'orderId',
                    render: function (data, type, row) {
                        return `<button type="button" class="btn btn-info btn-sm" onclick="showAlert(${data})">
<span class="icon text-white-50"> <i class="fa-solid fa-info"></i> 訂單明細 </span>
                          </button>`;
                    }
                },
                {
                    data: 'orderNo',
                    render: function (data, type, row) {
                        var orderStatus = row.orderStatus;
                        if (orderStatus === '待付款') {
                            return `<button type="button" class="btn btn-danger btn-sm mr-3" onclick="cancelAlert('${data}')">
<span class="icon text-gray-50"> <i class="fa-solid fa-ban"></i> 取消訂單 </span> </button>`;
                        }else
                        if (orderStatus === '待出貨' ) {
                            if(row.refundReason ==null){
                            return `<button type="button" class="btn btn-danger btn-sm mr-3" onclick="refundAlert('${data}')">
<span class="icon text-danger-50"> <i class="fa-solid fa-sack-dollar"></i> 提出退款 </span> </button>`;
                            }else{
                                return `<button type="button" class="btn btn-danger btn-sm mr-3" onclick="refundAlert('${data}')" disabled>
<span class="icon text-danger-50"> <i class="fa-solid fa-sack-dollar"></i> 退款被拒絕 </span> </button>`;
                            }
                        }else
                        if (orderStatus === '待收貨') {
                            return `<button type="button" class="btn btn-success btn-sm mr-3" onclick="receiveAlert('${data}')">
<span class="icon text-danger-50">
<i class="fa-solid fa-sack-dollar"></i> 確認收貨
</span>
</button>`;
                        }else if (orderStatus === '完成') {
                            if(row.review === false){
                            return `<a href="/user/order/reviews/${row.orderId}" class="btn btn-warning btn-sm mr-3">
<span class="icon text-danger-50">
<i class="fa-solid fa-comment"></i> 評價商品
</span>
</a>`;
                            }else {
                                return '已評價';
                            }
                        }else{
                            return '';
                        }


                    }
                }
            ],
            destroy: true,
        });
    }

</script>
</body>

</html>