<!--<div class="commentcard">-->

<!--    <div class="row mb-3">-->
<!--        <label for="userId" class="col-sm-2 col-form-labels">會員:</label>-->
<!--        <div class="col-sm-10">-->
<!--            <select name="userId" class="form-control" id="userId"-->
<!--                    required>-->
<!--                <option value="" selected hidden>請選擇會員</option>-->
<!--                <option th:each="User: ${userList}" th:value="${User.userId}" th:text="${User.username}"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row mb-3">-->
<!--        <label for="farmerProductId" class="col-sm-2 col-form-labels">商品:</label>-->
<!--        <div class="col-sm-10">-->
<!--            <select name="farmerProductId" class="form-control" id="farmerProductId"-->
<!--                    required>-->
<!--                <option value="" selected hidden>請選擇商品</option>-->
<!--                <option th:each="FarmerProduct: ${farmerProductBeanList}"-->
<!--                        th:value="${FarmerProduct.farmerProductId}" th:text="${FarmerProduct.name}"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->


<!--    <div class="row">-->

<!--        <div class="col-2">-->


<!--            <img src="/img/undraw_profile.svg" width="70" class="rounded-circle mt-2">-->


<!--        </div>-->

<!--        <div class="col-10">-->

<!--            <div class="comment-box ml-2">-->


<!--                <div class="rating">-->
<!--                    <input type="radio" name="star" value="5" id="5"><label for="5">☆</label>-->
<!--                    <input type="radio" name="star" value="4" id="4"><label for="4">☆</label>-->
<!--                    <input type="radio" name="star" value="3" id="3"><label for="3">☆</label>-->
<!--                    <input type="radio" name="star" value="2" id="2"><label for="2">☆</label>-->
<!--                    <input type="radio" name="star" value="1" id="1" checked><label for="1">☆</label>-->
<!--                </div>-->

<!--                <div class="comment-area">-->

<!--                        <textarea id="commentContent" name="commentContent" class="form-control" placeholder="評論..."-->
<!--                                  rows="4"-->
<!--                                  maxlength="100"-->
<!--                                  required></textarea>-->

<!--                </div>-->

<!--                <div class="comment-btns mt-2">-->


<!--                    <div class="col-10">-->


<!--                        <button class="btn btn-success" onclick="sendcreate()">送出</button>-->
<!--                        <button class="btn btn-info" onclick="inputGood()">一鍵好讚</button>-->
<!--                        <button class="btn btn-warning" onclick="inputBad()">一鍵好爛</button>-->


<!--                    </div>-->


<!--                </div>-->


<!--            </div>-->

<!--        </div>-->


<!--    </div>-->

<!--</div>-->

