<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>小農商品評論管理</title>

    <div th:replace="/admin/css.html"></div>

    <style>

        .table th {
            vertical-align: middle;
            text-align: center;
        }

        .table td {
            vertical-align: middle;
            text-align: center;
        }

        td.child {
            text-align: left;
        }

        ul {
            text-align: left;
        }


        .text {
            white-space: pre;
        }

        textarea.form-control {
            resize: none;
            height: 100px;
        }


        .commentcard {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            padding: 20px;
            width: 450px;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border-radius: 6px;
            -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
        }

        .rating {
            display: flex;
            margin-top: 6px;
            flex-direction: row-reverse;
            margin-left: -4px;
            float: left;
        }

        .rating > input {
            display: none
        }

        .rating > label {
            position: relative;
            width: 40px;
            font-size: 50px;
            color: #1cc88a;
            cursor: pointer;
        }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important
        }

        .rating > input:checked ~ label:before {
            opacity: 1
        }

        .rating:hover > input:checked ~ label:before {
            opacity: 0.4
        }

    </style>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="/admin/sidebar.html"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="/admin/header.html"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">小農評論管理</h1>
                <p class="mb-4">

                    <button type="button" class="btn btn-primary btn-icon-split btn-sm create">
                        <span class="icon text-white-50"><i class="fas fa-plus"></i></span><span
                            class="text">建立評論</span></button>
                </p>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">評論資訊</h6>
                    </div>
                    <div class="card-body">
                        <div class="">
                            <table class="table table-striped" id="commentTable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>評論編號</th>
                                    <th>評論者</th>
                                    <th>商品名稱</th>
                                    <th>評論時間</th>
                                    <th>星星數</th>
                                    <th class="none">評論內容</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="comment: ${productCommentList}">
                                    <td></td>
                                    <td th:text="${comment.productCommentId}"></td>
                                    <td th:text="${comment.user.username}"></td>
                                    <td class="namelink">
                                        <a th:href="@{/FarmerProductSupplier/ShopDetails(farmerProductId=${comment.farmerProductBean.farmerProductId})}"
                                           th:text="${comment.farmerProductBean.name}" target=" _blank">
                                        </a>
                                    </td>
                                    <td>
                                        <span th:text=" ${#dates.format(comment.time, 'yyyy/MM/dd HH:mm')}"></span>
                                    </td>
                                    <td th:text="${comment.star}"></td>
                                    <td>
                                        <p th:utext="${#strings.replace(#strings.escapeXml(comment.commentContent),'&#10;','&lt;br&gt;')}"></p>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-warning btn-sm update"
                                                th:onclick="|updateAlert(${comment.productCommentId})|">
                                            <span class="icon text-white-50"><i class="fas fa-pen"></i></span></button>
                                        <button type="button" class="btn btn-danger btn-sm delete"
                                                th:onclick="|deleteAlert(${comment.productCommentId})|">
                                            <span class="icon text-white-50"> <i class="fas fa-trash"></i></span>
                                        </button>

                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <div th:replace="/admin/footer.html"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<div th:replace="/admin/javascript.html"></div>
<!-- Page level custom scripts -->

<!-- 評論頁面 -->
<script>

    $(document).ready(function () {

        $('#commentTable').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/zh-HANT.json'
            },
            responsive: {
                details: {
                    type: 'column'
                }
            },
            columnDefs: [{
                className: 'dtr-control',
                orderable: false,
                targets: 0
            }],
            order: [1, 'asc']
        });


    });


    $(".create").on("click", function () {

        Swal.showLoading()
        fetch('./CreateProductComment')
            .then(response => response.text())
            .then(function (data) {

                Swal.fire({
                    title: '建立評論',
                    icon: 'info',
                    html: data,
                    showCloseButton: true,
                    showCancelButton: false,
                    showConfirmButton: false,
                    focusConfirm: false
                })
            });

    })


    //跳出修改
    function updateAlert(productCommentId) {
        Swal.showLoading()
        fetch('[[@{/admin/ProductComment/UpdateProductComment(productCommentId)}]]=' + productCommentId)
            .then(response => response.text())
            .then(function (data) {

                Swal.fire({
                    title: '修改評論',
                    icon: 'info',
                    html: data,
                    showCloseButton: true,
                    showCancelButton: false,
                    showConfirmButton: false,
                    focusConfirm: false
                })
            });
    }


    function deleteAlert(productCommentId) {
        Swal.fire({
            title: '請問是否要刪除此評論?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: '取消',
            confirmButtonColor: '#f15e5e',
            cancelButtonColor: '#ADADAD',
            confirmButtonText: '刪除'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "DELETE",
                    url: '[[@{/ProductComments/}]]' + productCommentId,
                    success: function (msg) {
                        Swal.fire(
                            '已刪除!',
                            '評論已成功刪除!',
                            'success'
                        ).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        })
                    },
                    error: function (msg) {
                        // console.log(msg.status)
                        Swal.fire({
                            icon: 'error',
                            title: '發生錯誤',
                            text: 'HTTP 狀態碼為 ' + msg.status,
                            footer: '<a href="https://developer.mozilla.org/zh-TW/docs/Web/HTTP/Status"  target="_blank">為什麼會有這個問題?</a>'
                        })
                    }
                });


            }
        })
    }

    // ====================新增========================

    function sendcreate() {
        var xhr = new XMLHttpRequest();
        var jsonString = JSON.stringify(getComment());
        console.log(jsonString);
        if (check()) {
            var userId = $("#userId").val();
            var farmerProductId = $("#farmerProductId").val();
            xhr.onreadystatechange = function () {
                //建立成功，狀態碼會是201
                if (xhr.readyState === 4 && xhr.status === 201) {
                    Swal.fire(
                        '新增成功!',
                        ':D',
                        'success'
                    ).then((result) => {
                        if (result.isConfirmed) {
                            location = "./";
                        }
                    })
                } else if (xhr.status === 400) {
                    Swal.fire(
                        '新增失敗!',
                        json.message,
                        'error'
                    )
                }
            }
            xhr.open("POST", '[[@{/ProductComments/}]]' + userId + '/' + farmerProductId, true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(jsonString);
        } else {
            Swal.fire(
                '有欄位未填寫',
                '請填寫完整，謝謝!!',
                'error'
            )
        }

    }

    // ===================修改========================
    function sendupdate(productCommentId) {
        var xhr = new XMLHttpRequest();
        var jsonString = JSON.stringify(getComment());
        console.log(jsonString);
        if (check()) {
            xhr.onreadystatechange = function () {
                //修改成功，狀態碼會是200
                if (xhr.readyState === 4 && xhr.status === 200) {
                    Swal.fire(
                        '修改成功!',
                        ':D',
                        'success'
                    ).then((result) => {
                        if (result.isConfirmed) {
                            location = "./";
                        }
                    })
                } else if (xhr.status === 400) {
                    Swal.fire(
                        '修改失敗!',
                        json.message,
                        'error'
                    )
                }
            }
            xhr.open("PUT", '[[@{/ProductComments/}]]' + productCommentId, true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(jsonString);
        } else {
            Swal.fire(
                '有欄位未填寫',
                '請填寫完整，謝謝!!',
                'error'
            )
        }

    }


    function getComment() {


        var star = $('input[name=star]:checked').val();
        var commentContent = $.trim($("#commentContent").val());
        var Comment = {
            "star": star,
            "commentContent": commentContent
        }
        return Comment;
    }

    function check() {
        let userId = $("#userId").val();
        let farmerProductId = $("#farmerProductId").val();
        let star = $('input[name=star]:checked').val();
        let commentContent = $("#commentContent").val();
        if (userId === '') {
            return false;
        }
        if (farmerProductId === '') {
            return false;
        }
        if (star === '') {
            return false;
        }
        if (commentContent === '') {
            return false;
        }
        return true;
    }

    function inputGood() {
        $("#commentContent").val("好讚 好讚 好讚 好讚\n" +
            "好讚 好讚 好讚 好讚\n" +
            "好讚 好讚 好讚 好讚")
    }

    function inputBad() {
        $("#commentContent").val("好爛 好爛 好爛 好爛\n" +
            "好爛 好爛 好爛 好爛\n" +
            "好爛 好爛 好爛 好爛")
    }


</script>


</body>

</html>