<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->

<!--    <title>建立課程</title>-->

<!--    <div th:replace="/admin/css.html"></div>-->
<!--</head>-->
<!--<body id="page-top">-->

<!--&lt;!&ndash; Page Wrapper &ndash;&gt;-->
<!--<div id="wrapper">-->

<!--    <div th:replace="/admin/sidebar.html"></div>-->

<!--    &lt;!&ndash; Content Wrapper &ndash;&gt;-->
<!--    <div id="content-wrapper" class="d-flex flex-column">-->

<!--        &lt;!&ndash; Main Content &ndash;&gt;-->
<!--        <div id="content">-->

<!--            <div th:replace="/admin/header.html"></div>-->


<!--            &lt;!&ndash; Begin Page Content &ndash;&gt;-->
<!--            <div class="container-fluid">-->

<!--                &lt;!&ndash; Page Heading &ndash;&gt;-->
<!--                <h1 class="h3 mb-4 text-gray-800"></h1>-->
<!--                <p class="mb-4">-->
<!--                    <a href="./" class="btn btn-primary btn-icon-split btn-sm">-->
<!--                                    <span class="icon text-white-50">-->
<!--                                        <i class="fas fa-undo"></i>-->
<!--                                    </span>-->
<!--                        <span class="text">返回課程管理</span>-->
<!--                    </a>-->
<!--                </p>-->


<!--                <div class="card shadow mb-4">-->
<!--                    <div class="card-header py-3">-->
<!--                        <h6 class="m-0 font-weight-bold text-primary">建立課程</h6>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <form action="" method="post" th:object="${course}">-->
<!--                            &lt;!&ndash; 開課編號:-->

<!--                            <div class="row mb-3">-->
<!--                                <label for="OpenCourse" class="col-sm-2 col-form-labels">開課編號:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input type="text" class="form-control" name="OpenCourse" id="OpenCourse"-->
<!--                                        value="${course.openCourse}" placeholder="請輸入開課編號" required>-->
<!--                                </div>-->
<!--                            </div>&ndash;&gt;-->

<!--                            &lt;!&ndash; 課程編號: &ndash;&gt;-->
<!--                            <div class="row mb-3">-->
<!--                                <label for="courseId" class="col-sm-2 col-form-labels">課程編號:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input th:field="*{courseId}" type="text" class="form-control" name="courseId" id="courseId"-->
<!--                                                placeholder="請輸入課程編號" required />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;<p>開始日期:</p>&ndash;&gt;-->
<!--                            <div class="row mb-3" >-->
<!--                                <label for="startDate" class="col-sm-2 col-form-labels">開始日期:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input th:field="*{startDate}" type="datetime-local" class="form-control" name="startDate" id="startDate"-->
<!--                                                required />-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="row mb-3">-->
<!--                                <label for="endDate" class="col-sm-2 col-form-labels">結束日期:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input th:field="*{endDate}" type="datetime-local" class="form-control" name="endDate" id="endDate"-->
<!--                                                required/>-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="row mb-3">-->
<!--                                <label th:for="venue" class="col-sm-2 col-form-labels">教室:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input th:field="*{clVenueId}" type="text" class="form-control" name="venue" id="venue"-->
<!--                                           required/>-->
<!--&lt;!&ndash;                                    <select th:field="*{room}" name="room" class="form-control form-select mb-3" >&ndash;&gt;-->
<!--&lt;!&ndash;                                        <option value="1">R201</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <option value="2">R202</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <option value="3">R203</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <option value="4">R301</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <option value="5">R302</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </select>&ndash;&gt;-->
<!--                                    &lt;!&ndash;  <input type="text" class="form-control" name="Room" id="Room"-->
<!--                                         value="${course.room}" required> &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; 報名人數: &ndash;&gt;-->
<!--                            <div class="row mb-3">-->
<!--                                <label for="applicants" class="col-sm-2 col-form-labels">報名人數:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input th:field="*{applicants}" type="text" class="form-control" name="teacher" id="applicants"-->
<!--                                           placeholder="請輸入報名人數" required="required" />-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; 老師: &ndash;&gt;-->
<!--                            <div class="row mb-3">-->
<!--                                <label for="teacher" class="col-sm-2 col-form-labels">老師:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input th:field="*{teacher}" type="text" class="form-control" name="teacher" id="teacher"-->
<!--                                                placeholder="請輸入教師" required="required" />-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; 備註: &ndash;&gt;-->
<!--                            <div class="row mb-3">-->
<!--                                <label  for="note" class="col-sm-2 col-form-labels">備註:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input th:field="*{note}" type="text" class="form-control" name="note" id="note"-->
<!--                                                placeholder="備註" />-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <button type="submit" class="btn btn-primary">建立課程</button>-->

<!--                            <button type="button" class="btn btn-secondary" id="correctInput">一鍵輸入</button>-->
<!--                            <button type="button" class="btn btn-secondary" id="wrongInput">錯誤輸入</button>-->

<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->



<!--        </div>-->
<!--        &lt;!&ndash; End of Main Content &ndash;&gt;-->


<!--        <div th:replace="/admin/footer.html"></div>-->


<!--    </div>-->
<!--    &lt;!&ndash; End of Content Wrapper &ndash;&gt;-->



<!--</div>-->
<!--&lt;!&ndash; End of Page Wrapper &ndash;&gt;-->

<!--<div th:replace="/admin/javascript.html"></div>-->
<!--<script th:src="@{/js/course.js}"></script>-->

<!--<script>-->


<!--    //     function checkForm(){-->
<!--    //     	if (StartDate > EndDate) {-->
<!--    // 	    	let StartDate = new Date($("#StartDate").val());-->
<!--    // 	        let EndDate = new Date($("#EndDate").val());-->
<!--    // 	        alert("刊登開始日期不可於刊登結束日期之後");-->
<!--    // 	        checkResult = false;-->
<!--    // 	        return checkResult;-->
<!--    //     	}-->
<!--    //     	return checkResult;-->
<!--    // 	}-->
<!--</script>-->
<!--</body>-->

<!--</html>-->