<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>修改課程</title>

    <div th:replace="/admin/css.html"></div>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="/admin/sidebar.html"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="/admin/header.html"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800"></h1>
                <p class="mb-4">
                    <a href="../" class="btn btn-primary btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-undo"></i>
                                    </span>
                        <span class="text">返回課程管理</span>
                    </a>

                </p>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">修改課程</h6>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" th:object="${course}">
                            <div class="row mb-3">
                                <label for="openCourse" class="col-sm-2 col-form-labels">開課編號:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="openCourse" id="openCourse"
                                           th:field="*{openCourse}" required readonly>
                                </div>
                            </div>
                            <!--課程編號:-->
                            <div class="row mb-3">
                                <label for="courseId" class="col-sm-2 col-form-labels">課程編號:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="courseId" id="courseId"
                                           th:field="*{courseId}" required>
                                </div>
                            </div>
                            <!--開始日期:-->
                            <div class="row mb-3">
                                <label for="startDate" class="col-sm-2 col-form-labels">開始日期:</label>
                                <div class="col-sm-10">
                                    <input type="datetime-local" class="form-control" name="startDate" id="startDate"
                                           th:field="*{startDate}" required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="endDate" class="col-sm-2 col-form-labels">結束日期:</label>
                                <div class="col-sm-10">
                                    <input type="datetime-local" class="form-control" name="endDate" id="endDate"
                                           th:field="*{endDate}" required>
                                </div>
                            </div>



                            <div class="row mb-3">
                                <label for="venue" class="col-sm-2 col-form-labels">教室:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="venue" id="venue"
                                           th:field="*{venue.venueId}" required>
<!--                                    <select name="room" class="form-control" id="room" th:field="*{room}"  required>-->


<!--                                        <option value="R201" id="R201">R201</option>-->
<!--                                        <option value="R202" id="R202">R202</option>-->
<!--                                        <option value="R203" id="R203">R203</option>-->
<!--                                        <option value="R301" id="R301">R301</option>-->
<!--                                        <option value="R302" id="R302">R302</option>-->
<!--                                    </select>-->
                                </div>
                            </div>

                            <!--<p>最大報名人數:${course.registerMax}</p>-->
<!--                            <div class="row mb-3">-->
<!--                                <label for="memNo" class="col-sm-2 col-form-labels">最大報名人數:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input type="text" class="form-control" name="RegisterMax" id="RegisterMax"-->
<!--                                           value="${course.registerMax}" required>-->
<!--                                </div>-->
<!--                            </div>-->

                            <!-- 報名人數: -->
                            <div class="row mb-3">
                                <label for="applicants" class="col-sm-2 col-form-labels">報名人數:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="teacher" id="applicants"
                                           th:field="*{applicants}" required>
                                </div>
                            </div>

                            <!-- 老師: -->
                            <div class="row mb-3">
                                <label for="teacher" class="col-sm-2 col-form-labels">老師:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="teacher" id="teacher"
                                           th:field="*{teacher}" required>
                                </div>
                            </div>
                            <!-- 備註: -->
                            <div class="row mb-3">
                                <label for="Note" class="col-sm-2 col-form-labels">備註:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Note" id="Note"
                                           th:field="*{note}" >
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">修改課程</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <div th:replace="/admin/footer.html"></div>


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



<div th:replace="/admin/javascript.html"></div>
<script th:src="@{/js/course.js}"></script>
<script>
    window.onload=function(){
        var selecten = document.getElementById("${course.room}");
        selecten.selected=true
    }
</script>
</body>

</html>