<div class="card-body">



    <form th:action="@{UpdateVenue(venueId=*{venueId})}" method="post"
          th:object="${venueRequest}" enctype="multipart/form-data">

        <!-- 場地ID: -->
        <div class="row mb-3">
            <label for="vId" class="col-sm-3 col-form-labels">場地ID:</label>
            <div class="col-sm-9">
                <input th:field="*{venueId}" type="text" class="form-control"
                       name="venueId" id="vId" th:readonly="true"/>
            </div>
        </div>

        <!-- 場地名稱: -->
        <div class="row mb-3">
            <label for="vName" class="col-sm-3 col-form-labels">場地名稱:</label>
            <div class="col-sm-9" >
                <input th:field="*{venueName}" type="text" class="form-control" th:onkeyup="|checkVN()|"
                       name="venueName" id="vName" maxlength="5" required="required" />
                <span class="show" id="s_vName"></span>
            </div>
        </div>

        <!-- 人數上限: -->
        <div class="row mb-3">
            <label for="pMax" class="col-sm-3 col-form-labels">人數上限:</label>
            <div class="col-sm-9">
                <input th:field="*{personMax}" type="number" class="form-control"
                       name="personMax" id="pMax" th:min="1" th:max="30" required="required" />
            </div>
        </div>


        <!-- 價錢/時: -->
        <div class="row mb-3">
            <label for="hPri" class="col-sm-3 col-form-labels">價錢/時:</label>
            <div class="col-sm-9">
                <input th:field="*{hrPrice}" type="number" class="form-control"
                       th:name="hrPrice" id="hPri" th:min="1" th:max="500" required="required"/>
            </div>
        </div>

        <!-- 種類: -->
        <div class="row mb-3">
            <label for="vSort" class="col-sm-3 col-form-labels"> 場地種類:</label>
            <div class="col-sm-9">
                <select th:field="*{venueSort.sort}" type="text" class="form-control form-select mb-sm-1"
                        id="vSort" aria-label="Default select example">
                    <option value="">全部</option>
                    <option th:each="sort : ${sorts}" th:value="${sort.sort}" th:text="${sort.sort}"></option>
                </select>
            </div>
        </div>

        <!-- 圖片: -->
        <div class="row mb-3">
            <label for="files" class="col-sm-3 col-form-labels"> 圖片:</label>
            <div class="col-sm-9">
                <input th:field="*{venueImage}" type="file" th:name="venueImage" value="上傳" id="files" />
            </div>
        </div>
        <!-- 圖片顯示 -->
        <div class="row mb-3">
            <p th:each="pic : *{VenuePicList}" >
                    <img id="images" th:src="${pic.picture}" style="margin:auto; width: 50px; height: 50px"/>
            </p>
        </div>

        <!-- 備註: -->
        <div class="row mb-3">
            <label for="vNotes" class="col-sm-3 col-form-labels">備註:</label>
            <div class="col-sm-9">
                <textarea th:field="*{notes}" class="form-control" th:name="notes"
                          id="vNotes" value="" placeholder="備註" maxlength="100"
                          required></textarea>

            </div>
        </div>

        <button type="submit" id="submit" class="btn btn-primary">修改</button>
        </form>
</div>