<div class="col-lg-2 col-md-3 ">
    <div class="blog__sidebar">
        <div class="blog__sidebar__item ">
            <h4>小農廠商選單</h4>
            <ul>
                <li><i class="fa-solid fa-gauge-high faIcon"></i> <a th:href="@{/FarmerProductSupplier/}">銷售分析</a></li>
                <li><i class="fa-solid fa-address-card faIcon"></i> <a
                        th:href="@{/FarmerProductSupplier/UpdateSupplier}">廠商資料</a></li>
                <li><i class="fa-solid fa-carrot faIcon"></i> <a
                        th:href="@{/FarmerProductSupplier/SupplierProductList/}">商品清單</a></li>
                <!--                <li><i class="fa-solid fa-frog faIcon"></i> <a href="#">訂單紀錄</a></li>-->
            </ul>
        </div>
    </div>
</div>