<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小農廠商</title>
    <div th:replace="css.html"></div>
    <link rel="stylesheet" href="/css/supplier.css" type="text/css">

    <style>
        .fa-check {
            color: GREEN;
        }

        .wrong {
            color: RED;
        }
        .updateCard {
            padding-top: 50px;
        }

        .img {

            width: 240px;
            height: 180px;
            margin-bottom: 10px;
        }
    </style>


</head>
<!--<body id="page-top">-->
<body id="page-top">
<div th:replace="header.html"></div>
<div th:replace="menu.html"></div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>小農管理中心</h2>
                    <div class="breadcrumb__option">
                        <!--                        <a href="/">首頁</a>-->
                        <!--                        <span>修改這個</span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Page Wrapper -->
<div id="wrapper">

    <!--    <div th:replace="sidebar.html"></div>-->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" class="container">


            <!-- Begin Page Content -->
            <div class="row">
                <div th:replace="farmerproduct/SupplierSidebar.html"></div>
                <input type="hidden" id="farmerId" th:value="${farmer.farmerId}">
                <!-- Page Heading -->
                <div class="col-lg-10 updateCard">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">廠商資料</h6>
                        </div>

                        <div class="card-body">
                            <form id="form" action="" method="post" th:object="${farmer}" enctype="multipart/form-data">

                                <!-- 頭像: -->
                                <img  class="img-profile rounded-circle" ID="previewImage" width="100" height="100" th:src="${farmer.imageUrl}" style=" margin:auto;"/>
                                <div class="row mb-3">
                                    <label for="farmerImage" class="col-sm-2 col-form-labels">會員頭像:</label>
                                    <div class="col-sm-10">
                                        <input type="file" th:field="*{productImage}" class="form-control" name="farmerImage"
                                               id="farmerImage" >
                                    </div>
                                </div>
                                <!-- 小農廠商帳號: -->
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-labels">帳號:</label>
                                    <div class="col-sm-5">
                                        <input th:field="*{username}" class="form-control"
                                               readonly required>
                                        <span class="show" id="s_userName"></span>
                                    </div>
                                </div>
<!--                                &lt;!&ndash; 小農廠商密碼: &ndash;&gt;-->
<!--                                <div class="row mb-3">-->
<!--                                    <label for="password" class="col-sm-2 col-form-labels">密碼:</label>-->
<!--                                    <div class="col-sm-5">-->
<!--                                        <input type="password" th:f="*{password}" class="form-control" minlength="6"-->
<!--                                               id="password" name="password" required>-->
<!--                                        <input id="chkPasw" type="checkbox" onclick="typeChanger()">顯示密碼-->
<!--                                        <span class="show" id="s_password"></span>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <!-- 小農廠商名稱: -->
                                <div class="row mb-3">
                                    <label for="farmerName" class="col-sm-2 col-form-labels">廠商名稱:</label>
                                    <div class="col-sm-5">
                                        <input type="text" th:field="*{farmerName}" class="form-control"
                                               id="farmerName" required>
                                        <span class="show" id="s_farmerName"></span>
                                    </div>
                                </div>

                                <!-- 小農廠商Email: -->
                                <div class="row mb-3">
                                    <label for="email" class="col-sm-2 col-form-labels">E-mail:</label>
                                    <div class="col-sm-5">
                                        <input type="text" th:field="*{email}" class="form-control"
                                               id="email" required>
                                        <span class="show"
                                              id="s_email"></span>
                                    </div>
                                </div>


                                <!-- 小農廠商電話: -->
                                <div class="row mb-3">
                                    <label for="phone" class="col-sm-2 col-form-labels">手機號碼:</label>
                                    <div class="col-sm-5">
                                        <input type="text" th:field="*{phone}" class="form-control"
                                               id="phone" required>
                                        <span class="show" id="s_phone"></span>
                                    </div>
                                </div>


                                <!-- 小農廠商地址: -->
                                <div class="row mb-3">
                                    <label for="address" class="col-sm-2 col-form-labels">地址:</label>
                                    <div class="col-sm-5">
                                        <input type="text" th:field="*{address}" class="form-control"
                                               id="address" required>
                                    </div>
                                </div>
                                <!-- 小農廠商簡介: -->
                                <div class="row mb-3">
                                    <label for="farmerInfo" class="col-sm-2 col-form-labels">簡介:</label>
                                    <div class="col-sm-5">
                                    <textarea class="form-control" th:field="*{farmerInfo}" name="farmerInfo"
                                              id="farmerInfo" value="" maxlength="500"
                                             ></textarea>
                                    </div>
                                </div>
<!--                                &lt;!&ndash; 小農廠商頭像: &ndash;&gt;-->
<!--                                <div class="row mb-3">-->
<!--                                    <label for="farmerImage" class="col-sm-2 col-form-labels">小農廠商頭像:</label>-->

<!--                                    <div class="col-sm-5">-->
<!--                                        <input type="file" th:field="*{productImage}" class="form-control"-->
<!--                                               name="farmerImage"-->
<!--                                               id="farmerImage">-->
<!--                                    </div>-->
<!--                                    <img ID="previewImage" class="img" width="200" height="200"-->
<!--                                         th:src="${farmer.imageUrl}"-->
<!--                                         style=" margin:auto;"/>-->
<!--                                </div>-->

                                <button type="submit" class="btn btn-primary" id="submit">修改廠商資料</button>
                            </form>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<div th:replace="footer.html"></div>

<!-- Page level custom scripts -->

<script>

    //預覽圖片
    $(document).ready(function () {
        $("body").on("change", "#farmerImage", function (e) {
            var file = e.target.files[0];
            var mediabase64data;
            getBase64(file).then(
                mediabase64data => $('#previewImage').attr('src', mediabase64data)
            );
        });
    })

    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }


    function typeChanger() {
        var txtpasw = $("#password");
        if (txtpasw.attr("type") == "password") {
            document.getElementById("password").type = "text";
        } else {
            document.getElementById("password").type = "password";

        }
    }

    window.onload = function () {

        document.getElementById("form").onsubmit = function () {
            return checkFullName(), checkEmail(), checkPhone();
        }
        // document.getElementById("userName").onblur = checkUserName;
        // document.getElementById("password").onblur = checkPassword;
        document.getElementById("farmerName").onblur = checkfarmerName;
        document.getElementById("email").onblur = checkEmail;
        document.getElementById("phone").onblur = checkPhone;
    }

    // function checkUserName() {
    //
    //     var userName = document.getElementById("userName").value;
    //     var res = /^[a-zA-Z0-9]{6,}$/;
    //     var flag1 = res.test(userName);
    //     if (flag1) {
    //         document.getElementById("s_userName").innerHTML = "<i class='fa-solid fa-check'>帳號格式正確</i>";
    //         document.getElementById('submit').disabled = false;
    //         return true;
    //     } else {
    //         document.getElementById("s_userName").innerHTML = "<p class='wrong'>帳號格式錯誤</p>";
    //         document.getElementById('submit').disabled = true;
    //         return false;
    //     }
    // }

    // function checkPassword() {
    //     var password = document.getElementById("password").value;
    //     var res = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;
    //     var flag2 = res.test(password);
    //     if (flag2) {
    //         document.getElementById("s_password").innerHTML = "<i class='fa-solid fa-check'></i>";
    //         document.getElementById('submit').disabled = false;
    //         return true;
    //     } else {
    //         document.getElementById("s_password").innerHTML = "<p class='wrong'>密碼格式錯誤: 必須至少 8 個字元含有大小寫英文字母且至少一個數字</p>";
    //         document.getElementById('submit').disabled = true;
    //         return false;
    //     }
    // }

    //js驗證真實姓名，是用的unicode字元的來進行匹配
    function checkfarmerName() {
        var farmerName = document.getElementById("farmerName").value;
        var res = /^[\u4e00-\u9fa5]{2,20}$/;
        var flag3 = res.test(farmerName);
        if (flag3) {
            document.getElementById("s_farmerName").innerHTML = "<i class='fa-solid fa-check'></i>";
            document.getElementById('submit').disabled = false;
            return true;
        } else {
            document.getElementById("s_farmerName").innerHTML = "<p class='wrong'>姓名格式錯誤:請輸入真實中文名字</p>";
            document.getElementById('submit').disabled = true;
            return false;
        }
    }

    function checkEmail() {
        var email = document.getElementById("email").value;
        var res = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
        var flag4 = res.test(email);
        if (flag4) {
            document.getElementById("s_email").innerHTML = "<i class='fa-solid fa-check'></i>";
            document.getElementById('submit').disabled = false;
            return true;
        } else {
            document.getElementById("s_email").innerHTML = "<p class='wrong'>E-mail格式錯誤 Ex: vison919@gmail.com</p>";
            document.getElementById('submit').disabled = true;
            return false;
        }
    }

    function checkPhone() {
        var phone = document.getElementById("phone").value;
        var res = /^09[0-9]{8}$/;
        var flag5 = res.test(phone);
        if (flag5) {
            document.getElementById("s_phone").innerHTML = "<i class='fa-solid fa-check'></i>";
            document.getElementById('submit').disabled = false;
            return true;
        } else {
            document.getElementById("s_phone").innerHTML = "<p class='wrong'>電話格式錯誤 Ex: 0918xxxxxx共10位</p>";
            document.getElementById('submit').disabled = true;
            return false;
        }
    }

</script>


</body>

</html>