<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>報名</title>

    <div th:replace="css.html"></div>
    <style>
        #price2 {
            text-align: left;
            font-family: sans-serif;
            font-weight: 700;
        }
    </style>

</head>

<body>
<div th:replace="header.html"></div>
<div th:replace="menu.html"></div>


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>課程報名</h2>
                    <div class="breadcrumb__option">
<!--                        <a href="/">首頁</a>-->
                        <span>Register Course</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12">
                <h6><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                </h6>
            </div>
        </div> -->
        <div class="checkout__form">
            <h4>課程報名表</h4>
            <form th:action="@{CreateRegisterWithId}" method="post" th:object="${register2}">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
<!--                                    <label for="userId" >使用者:</label>-->
                                    <p>會員ID<span>*</span></p>
                                    <p th:field="${user.userId}" th:text="${user.userId}"></p>

                                        <input  type="hidden" th:field="*{user.userId}" th:text="${user.userId}"
                                               name="userId" id="userId" />
<!--                                        th:field="*{user.userId}"-->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>會員姓名<span>*</span></p>
                                    <p th:text="${user.username}"></p>
<!--                                    <input th:field="*{user.username}" type="text"-->
<!--                                           name="username" id="username" placeholder="請輸入使用者編號" />-->
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>課程資訊<span></span></p>
                                <input  type="hidden" th:field="*{course.openCourse}" th:text="*{course.openCourse}"
                                        name="openCourse" id="openCourse" />
                                <td th:field="${course.openCourse}" th:text="|開課編號: ${course.openCourse}|"></td></br>
                                <td th:text="|開課時間: ${#dates.format(course.startDate, 'yyyy/MM/dd HH:mm')}|"></td></br>
                                <td th:text="|課程名稱: ${course.cProduct.name}|"></td></br>
                                <td th:text="|課程單價: ${'$'+course.cProduct.price}|"></td></br>
                        </div>

                        <div class="checkout__input">
                            <p>參加總人數<span>*</span></p>
                            <input th:field="*{attendance}" type="number" class="form-control" th:min="1"
                                   name="attendance" id="attendance" placeholder="請輸入參加人數" style="color: #444444;"/>
                        </div>

                        <div class="checkout__input__checkbox">
                            <label for="agree">
                                點此同意免責聲明
                                <input type="checkbox" id="agree" required="required">
                                <span class="checkmark" ></span>
                                <div id="error"></div>
                            </label>
                        </div>

                        <p>本公司相當重視隱私權的保護。關於您的會員及其資料，將依本服務「隱私權保護政策」保護與規範。</br>
                            您已了解並同意當您使用本服務時，本公司依據「隱私權保護政策」之規範進行資料的蒐集與利用。</p>
                    </div>

                    <!--This is sideBar-->
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>課程訂單</h4>
                            <div class="checkout__order__products">課程類別 <span>合計</span></div>
                            <ul >
                                <li th:text="${course.cProduct.name}"></li>
                                <div style="text-align: right; font-weight:700; color:#666666; font-size: 18px "><span th:text="${course.cProduct.price}" id="coursePrice"></span></div>
                            </ul>

                            <div class="checkout__order__subtotal">人數 <span>
                                    <em id='peopleResult' style="font-weight:700; color:#666666; font-size: 18px; font-style:normal "></em>
                                </span>
                            </div>
                            <div class="checkout__order__total">總計 <span id="total"></span></div>
                            <button type="submit" class="site-btn" onclick="errorMessage()">送出報名</button>
                        </div>
                    </div>
                    <!--This is end of sideBar -->
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
<div th:replace="footer.html"></div>
<script th:inline="javascript">
    //數字會自動帶
    document.getElementById('attendance').onblur = function(){
        var people = parseInt(document.getElementById('attendance').value);
        if(people != null && !isNaN(people) && people != 0){
            document.getElementById('peopleResult').textContent = people;
        } else{
            document.getElementById('peopleResult').textContent = 0;
        }
        var coursePrice = [[${course.cProduct.price}]];
        var total = people * coursePrice;
        if(total != null && !isNaN(total) && total != 0) {
            document.getElementById('total').textContent = total;
        } else{
            document.getElementById('total').textContent = 0;
        }
    }

    //免責聲明要勾
    function errorMessage() {
        var error = document.getElementById("error")
        if (isNaN(document.getElementById("agree").value))
        {
            // Changing content and color of content
            error.textContent = "同意後送出報名"
            error.style.color = "red"
        } else {
            error.textContent = ""
        }
    }
</script>

</body>

</html>