<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>烘焙工作坊 - Back You Life</title>

    <div th:replace="/css.html"></div>

</head>

<body>
<div th:replace="/header.html"></div>
<div th:replace="/menu.html"></div>


<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>課程類型</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!--一格-->
            <tr th:each="product: ${products}">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img alt="" th:src="*{{product.image}}" style="height: 250px; border-radius: 20px">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-money"></i> NT$[[*{product.price}]]</li>
<!--                                <li><i class="fa fa-comment-o"></i> 5</li>-->
                            </ul>
                            <h5><a th:href="@{/Course/CourseDetails(id=${product.id})}" th:text="${product.name}">[[*{product.name}]]</a></h5>
<!--                            <a th:href="@{QueryArticle(postid=${article.postid})}" th:text="${ article.title}">-->
                            <p>[[*{product.summary}]] </p>
                        </div>
                    </div>
                </div>
            </tr>
            <!--一格End-->

        </div>
    </div>
</section>
<!-- Blog Section End -->


<div th:replace="/footer.html"></div>


</body>

</html>