

<form th:action="@{/User/Course/AddResult(fk_productId=${studentResult.product.id})}"
      method="post" th:object="${studentResult}" enctype="multipart/form-data">

  <div class="row mb-3">
    <div class="col-sm-10">
       <input th:field="*{product.id}" hidden="hidden"/>
    </div>
  </div>

<!--   作品名稱:-->
  <div class="row mb-3">
    <label for="strTitle" class="col-sm-2 col-form-labels">作品名稱:</label>
    <div class="col-sm-10">
      <input th:field="*{strTitle}" type="text" class="form-control"
             name="strTitle" id="strTitle" placeholder="請輸入作品名稱"
             required="required"/>
    </div>
  </div>

  <!-- 作品說明: -->
  <div class="row mb-3">
    <label for="strContent" class="col-sm-2 col-form-labels">作品說明:</label>
    <div class="col-sm-10">
      <textarea th:field="*{strContent}" type="text" class="form-control"
                  name="strContent" id="strContent" placeholder="作品說明"
                  required="required" />
    </div>
  </div>

  <!-- 備註: -->
  <div class="row mb-3">
    <label class="col-sm-2 col-form-labels">課程圖片</label>

    <div class="col-sm-8 text-center">
      <img class="img-fluid mx-auto mb-4" id="previewImage" src="#" alt="請選擇廣告圖" style="width: 320px; height: 200px;">
      <input class="form-control" type="file" name="imageFile" id="customFile" accept="image/jpeg, image/png" required>
      <div class="invalid-feedback">請輸入廣告圖</div>
    </div>
<!--    <div class="col-sm-10">-->
<!--        <input th:field="*{resultFile}" type="file" name="file" class="form-control" onblur=""-->
<!--               id="customFile"  >-->
<!--        <label class="custom-file-label" for="customFile" >課程圖片</label>-->
<!--    </div>-->
<!--      <div class="" style="max-width: 80%; margin:auto" >-->
<!--          <img class="img-fluid mx-auto mb-4" id="previewImage" src="#"/>-->
<!--      </div>-->
<!--    <div class="card" style="max-width: 80%; margin:auto" >-->
<!--      <img class="img-fluid mx-auto mb-4" id="previewImage" />-->
<!--    </div>-->
  </div>

  <button type="submit" id="submit_List" class="btn btn-primary">建立清單</button>


</form>
<!--//這是讓上傳檔案可以有文字-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js}"></script>

<script>
  //圖片上傳同步顯示
  $("#customFile").change(function () {
    readURL(this);
  })

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#previewImage").attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>