<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <div th:replace="css.html"></div>
    <style>
        .wrapper{
            width: 800px;
            height: 400px;
            background-color: black;
            margin: 0 auto;
            position: relative;
        }
        .slide-imgs{
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            display: flex;
            width: 4000px;
            /* left: -800px; */

        }
        .slide-imgs li{
            width: 800px;
            height: 400px;
        }
        .slide-imgs li img{
            width: 100%;
            height: 100%;
            /*控制元素內容填入大小比例*/
            object-fit: cover;
        }
        .pages{
            position: absolute;
            list-style: none;
            margin: 0;
            padding: 0;
            bottom: 10px;
            display: flex;
            justify-content: center;
            width: 100%;

        }
        .pages li{
            border: 1px solid white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0 5px;
        }
        .pages-arrow{
            position: absolute;
            z-index: 1;
            font-size: 36px;
            width: 40px;
            height: 100%;
            color: white;
            display: flex;
            /* 次軸對齊 */
            align-items: center;
            opacity: 6;
            cursor: pointer;
        }
        .right{
            right: 0;
        }
    </style>
</head>

<body>
<div th:replace="header.html"></div>
<div th:replace="menu.html"></div>


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/blog/details/img1">
    <!--    <img src="/img/blog/details/img4.png" alt="...">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-12 text-center">-->
    <!--                <div class="breadcrumb__text">-->
    <!--                    <h2>Blog</h2>-->
    <!--                    <div class="breadcrumb__option">-->
    <!--                        <a href="./index.html">Home</a>-->
    <!--                        <span>Blog</span>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="container">
        <div class="wrapper">
            <a class="pages-arrow" id="slidePre"></a><i class="fa-solid fa-arrow-left"></i>
            <a class="pages-arrow right" id="slideNext"></a><i class="fa-solid fa-arrow-right"></i>
            <ul class="slide-imgs">
                <li><img src="/img/blog/details/IMG_6351.JPG" alt=""></li>
                <li><img src="/img/blog/details/lemon.jpg" alt=""></li>
                <li><img src="/img/blog/details/IMG_6279.JPG" alt=""></li>
                <li><img src="/img/blog/details/madeleine.jpg" alt=""></li>
                <li><img src="/img/blog/details/lemontart4.jpg" alt=""></li>

            </ul>
            <ul class="pages" id="pages">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="@{/ArticlesType(type=${article.type})}" method="get" enctype="multipart/form-data">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>文章分類</h4>
                        <ul>
                            <li><a href="@{/ArticlesType(type=${article.type})}">活動資訊</a></li>
                            <li><a href="#">課程資訊</a></li>
                            <li><a href="#">食譜討論</a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="/img/blog/sidebar/sr-1.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>09 Kinds Of Vegetables<br /> Protect The Liver</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="/img/blog/sidebar/sr-2.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Tips You To Balance<br /> Nutrition Meal Day</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="/img/blog/sidebar/sr-3.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>4 Principles Help You Lose <br />Weight With Vegetables</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags">
                            <a href="#">Apple</a>
                            <a href="#">Beauty</a>
                            <a href="#">Vegetables</a>
                            <a href="#">Fruit</a>
                            <a href="#">Healthy Food</a>
                            <a href="#">Lifestyle</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6"  th:each="article: ${articles}">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="${article.imageUrl}" style="display:block; margin:auto; border-radius:10px;width:250px; height:250px;">
                            </div>
                            <div class="blog__item__text">
                                <span></span>
                                <ul>
                                    <li><i class="fa fa-calendar-o" th:text="${ article.date}"></i></li>
                                    <li><i class="fa fa-eye" th:text="${ article.counter}"></i></li>
                                    <!--                                   <i class="fa-solid fa-book-open-cover"></i>fa fa-comment-o-->
                                </ul>
                                <h5><a th:href="@{/FrontArticle/ArticleDetail(postid=${article.postid})}" th:text="${ article.title}">
                                </a></h5>
                                <p th:text="${ article.type}"></p>
                                <a th:href="@{/FrontArticle/ArticleDetail(postid=${article.postid})}" class="blog__btn">觀看文章 <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="InsertArticle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">新增文章</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/ArticleAdd"  method="post" enctype="multipart/form-data" id="form">
                                        <div class="form-group">

                                            <label for="title">標題:</label>
                                            <input type="text" name="title" class="form-control"  id="title">
                                        </div>

                                        <div class="form-group">
                                            <label for="type">文章分類:</label>
                                            <select name="type" class="form-control" id="type">
                                                <option value= null label="請選擇分類">請選擇分類</option>
                                                <option value="活動資訊">活動資訊</option>
                                                <option value="課程資訊">課程資訊</option>
                                                <option value="食譜討論">食譜討論</option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label for="date">發文日期:</label>
                                            <input type="date" name="date" id="date">
                                        </div>
                                        <div class="form-group">
                                            <label>內文:</label>
                                            <textarea name="content" class="form-control"  id="content" cols="30"
                                                      rows="10"></textarea> <br>
                                        </div>
                                        <div class="form-group">
                                            <img width="100" height="100" style="display:block; margin:auto;" id="previewImage"/>
                                            <label for="articleImage">上傳圖片</label>
                                            <input type="file" name="articleImage" class="form-control-file" id="articleImage">
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="correctInput">一鍵輸入</button>
                                    <button  class="btn btn-outline-warning" id="testadd">送出文章</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#InsertArticle" input style="float:right">
                            新增文章
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->


<div th:replace="footer.html"></div>



</body>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script>

    $('#correctInput').click(function () {

        $('#title').val('烘焙小百科:烘焙材料該怎麼保存？')
        $('#type').val('食譜討論')
        $('#date').val('2022-07-07')
        $('#content').val('麵粉按照蛋白質含量的高低，又分為高筋麵粉、中筋麵粉、低筋麵粉。')
    })

    // ClassicEditor
    //     .create( document.querySelector( '#content' ) )
    //     .then( editor => {
    //         console.log( editor );
    //     } )
    //     .catch( error => {
    //         console.error( error );
    //     } );


    $(document).ready(function(){
        $("body").on("change", "#articleImage", function(e){
            var file = e.target.files[0];
            var mediabase64data;
            getBase64(file).then(
                mediabase64data => $('#previewImage').attr('src', mediabase64data)
            );
        });
    })

    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }

    $('#testadd').click(function (event) {
        event.preventDefault();
        add();
    })

    function add() {
        var formData = new FormData($('#form')[0]);
        $.ajax({
            url: "[[@{/ArticleAdd}]]",
            data: formData,
            type: "post",
            cache: false, // 不需要cache
            processData: false, // jQuery預設會把data轉為query String, 所以要停用
            contentType: false,
            enctype: 'multipart/form-data',
            // dataType: "json",
            // contentType: "application/json;charset=utf-8",
            success: function (result) {
                // loadData();
                // console.log(111111)
                $('#InsertArticle').modal('hide');
                window.location.reload();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    let index=0
    let slideMove=0
    $(function(){
        $('#pages li').on('mouseenter',function(){
            // $('.slide-imgs').css('left','-800px')
            index=$(this).index()
            console.log(index)
            slideMove=0-index*800
            $('.slide-imgs').css('left',slideMove)
            $(this).css('background','white')
                .siblings().css('background','transparent')
        })
        let pagesli=$('.pages li').length
        $('#slideNext').on('click',function(){
            index++
            if(index>=pagesli){
                index=0
            }
            //    slideMove=0-index*800
            //    $('.slide-imgs').css('left',slideMove)
            //    $('#pages li').eq(index).css('background','white')
            //    .siblings().css('background','transparent')
            moveImg()
        })
        $('#slidePrev').on('click',function(){
            index--
            if(index<0){
                index=pagesli-1
            }
            moveImg()

        })
        function moveImg(){
            slideMove=0-index*800
            $('.slide-imgs').css('left',slideMove)
            $('#pages li').eq(index).css('background','white')
                .siblings().css('background','transparent')
        }
    })
</script>

</html>