<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Ogani Template">
  <meta name="keywords" content="Ogani, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>會員找回密碼</title>
  <div th:replace="css.html"></div>
  <link rel="stylesheet" href="/css/supplier.css" type="text/css">

  <style>
    .fa-check {
      color: GREEN;
    }

    .wrong {
      color: RED;
    }
    .updateCard {
      padding-top: 50px;
      padding-right: 400px;

    }

    .card-body {
      color: #858796;
      font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .card {
      width: 500px;
    }

  </style>


</head>
<!--<body id="page-top">-->
<body id="page-top">
<div th:replace="fakeheader.html"></div>
<!--<div th:replace="menu.html"></div>-->



<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content" class="container">


      <!-- Begin Page Content -->
      <div class="row justify-content-center">
<!--        <div th:replace="user/UserSidebar.html"></div>-->
        <!--                <input type="hidden" id="userId" th:value="${user.userId}">-->
        <!-- Page Heading -->
<!--        <div class="col-lg-10 updateCard">-->
<!--          <p class="mb-4">-->
<!--            <a href="/User/Updatepsw/" class="btn btn-primary btn-icon-split btn-sm">-->
<!--							<span class="icon text-white-50"> <i class="fas fa-undo"></i>-->
<!--						</span> <span class="text">返回</span>-->
<!--            </a>-->
<!--          </p>-->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h4>重新設定密碼</h4>
            </div>

            <div class="card-body">
              <form id="form" action="/process_loginFindPsw" method="">
                <div class="row mb-3">
                  <div class="col-sm-12">
                    <input type="text"  class="form-control"
                           id="email" name="email" placeholder="請輸入會員之E-mail" >
                    <span class="show" id="s_email" ></span>
                  </div>
                </div>
                <a th:href="@{/process_loginFindPsw}"><button type="submit" class="btn btn-primary" id="submit">確定重設密碼</button></a>
              </form>

            </div>
          </div>

<!--        </div>-->

      </div>

    </div>

    <!-- /.container-fluid -->
  </div>
  <!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<div th:replace="footer.html"></div>

<!-- Page level custom scripts -->
<script>
  window.onload = function () {

    document.getElementById("form").onsubmit = function () {
      return checkEmail();
    }
    document.getElementById("email").oninput = checkEmail;

  }
  function checkEmail() {
    var email = document.getElementById("email").value;
    var res = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
    var flag4 = res.test(email);
    if (flag4) {
      document.getElementById("s_email").innerHTML = "<i class='fa-solid fa-check'></i>";
      document.getElementById('submit').disabled = false;
      return true;
    } else {
      document.getElementById("s_email").innerHTML = "<p class='wrong'>E-mail格式錯誤 Ex: visoxxxxxx@gmail.com</p>";
      document.getElementById('submit').disabled = true;
      return false;
    }
  }

</script>
</body>

</html>