<div class="col-lg-2 col-md-3 ">
  <div class="blog__sidebar">
    <div class="blog__sidebar__item ">
      <h4>會員中心選單</h4>
      <ul>
        <li><i class="fa-solid fa-address-card faIcon"></i> <a th:href="@{/User/UserData/}">會員資料</a></li>
        <li><i class="fa-solid fa-heart faIcon"></i> <a th:href="@{/#/}">喜愛清單</a></li>
        <li><i class="fa-solid fa-cart-shopping faIcon"></i> <a th:href="@{/user/order/}">購買清單</a></li>
<!--        <li><i class="fa-solid fa-ticket faIcon"></i> <a th:href="@{/#/}">我的優惠卷</a></li>-->
        <li><i class="fa-solid fa-school faIcon"></i> <a th:href="@{/#/}">我的課程</a></li>
        <li><i class="fa-solid fa-table faIcon"></i> <a th:href="@{/#/}">我的租借</a></li>
        <li><i class="fa-solid fa-book faIcon"></i> <a th:href="@{/#/}">我的文章</a></li>
      </ul>
    </div>
  </div>
</div>