
<!-- Google Font -->
<link href="/css/Cairo.css" rel="stylesheet">

<!-- Css Styles -->
<!--<link rel="stylesheet" href="/css/og/bootstrap.min.css" type="text/css">-->
<link rel="stylesheet" type="text/css"
      href="/css/datatables.min.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/all.min.css" type="text/css">
<link rel="stylesheet" href="/css/og/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/og/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/og/nice-select.css" type="text/css">
<link rel="stylesheet" href="/css/og/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/css/og/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/og/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/og/style.css" type="text/css">

<style>
    .dropdown.no-arrow .dropdown-toggle::after {
        display: none;
        list-style-type:none;
    }
    .header__top__right__auth ul li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
    }


</style>