
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

<!-- Css Styles -->
<!--<link rel="stylesheet" href="/css/og/bootstrap.min.css" type="text/css">-->
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/r-2.2.9/datatables.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/all.min.css" type="text/css">
<link rel="stylesheet" href="/css/og/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/og/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/og/nice-select.css" type="text/css">
<link rel="stylesheet" href="/css/og/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/css/og/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/og/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/og/style.css" type="text/css">

<style>
    .dropdown.no-arrow .dropdown-toggle::after {
        display: none;
        list-style-type:none;
    }
    .header__top__right__auth ul li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
    }


</style>