
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/og/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/og/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/og/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/og/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/og/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/og/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/og/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/og/style.css" type="text/css">