
<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="/img/logo3.png" alt=""></a>
                    </div>
                    <ul>
                        <li>地址:<br>320桃園市中壢區新生路二段421號</li><hr>
                        <li>電話:<br>資展國際 : (03) 453-3013</li><hr>
                        <li>Email:<br>bakeyourlife@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>資訊連結</h6>
                    <hr>
                    <h6><ul>
                        <li><a href="#">關於Bake your life</a></li>
                        <li><a href="#">最新訊息</a></li>
                        <li><a href="#">徵才資訊</a></li>
                        <li><a href="#">場地資訊</a></li>
                        <li><a href="#">幫助中心Q&A</a></li>
                    </ul></h6>
<!--                    <ul>-->
<!--                        <li><a href="#">Who We Are</a></li>-->
<!--                        <li><a href="#">Our Services</a></li>-->
<!--                        <li><a href="#">Projects</a></li>-->
<!--                        <li><a href="#">Contact</a></li>-->
<!--                        <li><a href="#">Innovation</a></li>-->
<!--                        <li><a href="#">Testimonials</a></li>-->
<!--                    </ul>-->
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>加入我們</h6><hr>
                    <h6><a href="/SignUp">一般會員</a></h6>
                    <h6><a href="/FarmerSignUp">小農廠商會員</a></h6>
                    <p>留下您的E-mail或與我們聯繫</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form><hr>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
<!--                        <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                        <a href="#"><i class="fa fa-pinterest"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    <div class="footer__copyright__payment"><img src="/img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
        intent="WELCOME"
        chat-title="BakeYourLife"
        agent-id="501c81eb-14a3-4eff-8555-65adb540c1c5"
        language-code="zh-tw"
></df-messenger>
<!-- Footer Section End -->

<!-- Js Plugins -->
<!--<script src="/js/og/jquery-3.3.1.min.js"></script>-->
<!--<script src="/js/og/bootstrap.min.js"></script>-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/og/jquery.nice-select.min.js"></script>
<script src="/js/og/jquery-ui.min.js"></script>
<script src="/js/og/jquery.slicknav.js"></script>
<script src="/js/og/mixitup.min.js"></script>
<script src="/js/og/owl.carousel.min.js"></script>
<script src="/js/og/main.js"></script>
<script src="/js/sweetalert2.js"></script>
<script type="text/javascript"
        src="/js/datatables.min.js"></script>

<script>
    fetch('[[@{/Carts}]]')
        .then(response => response.json())
        .then(function (cart) {
            let i = 0;
            Object.values(cart.cart).forEach(val => {
                // console.log(i)
                i++;
            });
            $('.cartCount').text(i);
        });

    function add(type,id){
        let qty = $('.quantity input').val();
        if(qty===undefined){
            qty = 1;
        }
        fetch('[[@{/Carts/Add}]]?type='+type+'&itemId='+id+'&qty='+qty)
            .then((response) => {
                return response.json()
                    .then((json) => {
                        if (response.ok) {
                            return Promise.resolve(json)
                        }
                        return Promise.reject(json)
                    })
            })
            .catch(error => {
                Swal.fire({
                    title: '錯誤',
                    text: error.message,
                    icon: 'error',
                    confirmButtonText: '確定'
                })
            })
            .then(function (cart) {
                let i = 0;
                Object.values(cart.cart).forEach(val => {
                    console.log(i)
                    i++;
                });
                $('.cartCount').text(i);
                Swal.fire(
                    '成功加入購物車',
                    '',
                    'success'
                )
            });
    }

    function showLoader() {
        $(".loader").show();
        $("#preloder").show();
    }

    function hideLoader() {
        $(".loader").fadeOut();
        $("#preloder").delay(200).fadeOut("slow");
    }

    //會員中心SIDEBAR
    $(function(){
        $(".flip").click(function(){
            $(".panel").slideToggle();
        });});

</script>
