<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href=href="/"><img src="/img/logo7.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <!--            <li><a href="#"><i class="fa fa-heart"></i> <span>10</span></a></li>-->
            <li><a href="/Cart"><i class="fa fa-shopping-bag"></i> <span class="cartCount">10</span></a></li>
        </ul>
        <!--        <div class="header__cart__price">item: <span>$150.00</span></div>-->
    </div>
    <div class="humberger__menu__widget">
        <!--        <div class="header__top__right__language">-->
        <!--            <img src="/img/language.png" alt="">-->
        <!--            <div>English</div>-->
        <!--            <span class="arrow_carrot-down"></span>-->
        <!--            <ul>-->
        <!--                <li><a href="#">Spanis</a></li>-->
        <!--                <li><a href="#">English</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
        <div sec:authorize="!isAuthenticated()">
            <ul>
                <li><a href="/login"><i class="fa-solid fa-user"></i>登入</a></li>
                <li><a href="/SignUp"><i class="fa-solid fa-user-plus"></i>註冊</a></li>
            </ul>
        </div>
        <!--        <div sec:authorize="isAuthenticated()">-->
        <!--            <div class="header__top__right__auth">-->
        <!--                <a href="/logout"><i class="fa fa-user"></i> 登出</a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!-- 右上會員資訊 -->
        <ul>
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><!-- Douglas McGee -->
                    <span class="mr-2 d-none d-lg-inline text-gray-600 "
                          sec:authentication="principal.fullName"></span>

                    <img class="img-profile rounded-circle"
                         th:src="${#authentication.principal.imageUrl}" width="50" height="50">

                </a>
                <!-- 點擊右上會員圖標，彈出選單  -->
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item"
                       th:href="@{/admin/}">
                        <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                        <i class="fa-solid fa-user"></i>
                        管理者後台
                    </a>
                    <a sec:authorize="hasRole('ROLE_FARMER')" class="dropdown-item"
                       th:href="@{/FarmerProductSupplier/}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        小農管理中心
                    </a>
                    <a sec:authorize="hasRole('ROLE_FARMER')" class="dropdown-item"
                       th:href="@{/FarmerProductSupplier/}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        小農管理中心
                    </a>
                    <a sec:authorize="hasRole('ROLE_FARMER')" class="dropdown-item"
                       th:href="@{/FarmerProductSupplier/}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        小農管理中心
                    </a>
                    <a sec:authorize="hasRole('ROLE_FARMER')" class="dropdown-item"
                       th:href="@{/FarmerProductSupplier/}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        小農管理中心
                    </a>
                    <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                       th:href="@{/admin/}">
                        <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                        <i class="fa-solid fa-user"></i>
                        個人資料
                    </a>
                    <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                       th:href="@{/admin/}">
                        <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                        <i class="fa-solid fa-heart"></i>
                        喜愛清單
                    </a>
                    <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                       th:href="@{/admin/}">
                        <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                        <i class="fa-solid fa-cart-shopping"></i>
                        購買清單
                    </a>
                    <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                       th:href="@{/admin/}">
                        <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                        <i class="fa-solid fa-school"></i>
                        我的課程
                    </a>
                    <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                       th:href="@{/admin/}">
                        <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                        <i class="fa-solid fa-table"></i>
                        我的租借
                    </a>
                    <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                       th:href="@{/admin/}">
                        <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                        <i class="fa-solid fa-table"></i>
                        我的文章
                    </a>
                    <!--                                                        <a class="dropdown-item" href="#">-->
                    <!--                                                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
                    <!--                                                            Settings-->
                    <!--                                                        </a>-->
                    <!--                                                        <a class="dropdown-item" href="#">-->
                    <!--                                                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>-->
                    <!--                                                            Activity Log-->
                    <!--                                                        </a>-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">
                        <!--                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
                        <i class="fa-solid fa-right-from-bracket"></i>
                        登出
                    </a>
                </div>
            </li>
        </ul>


    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="/">Bake Your Life</a>
                <ul class="header__menu__dropdown">
                    <li><a href="#">關於我們</a></li>
                    <li><a href="#">聯絡我們</a></li>
                    <li><a href="#">幫助中心</a></li>
                    <li><a href="#">社群資訊</a></li>
                </ul>
            </li>
            <li><a href="#">商品</a>
                <ul class="header__menu__dropdown">
                    <li><a th:href="@{/Goods1/}">一般商品</a></li>
                    <li><a th:href="@{/FarmerProductShop/ShopGrid}">小農商品</a></li>
                    <li><a href="#">待新增</a></li>
                    <li><a href="#">待新增</a></li>
                </ul>
            </li>
            <li><a href="#">課程</a>
                <ul class="header__menu__dropdown">
                    <li><a th:href="@{/Course}">課程總覽</a></li>
                    <li><a th:href="@{/Course/CreateRegister}">課程報名</a></li>
                    <li><a href="#">課程選單C</a></li>
                    <li><a href="#">課程選單D</a></li>
                </ul>
            </li>
            <li><a href="#">租借</a>
                <ul class="header__menu__dropdown">
                    <li><a href="/Rental/">點我租借</a></li>
                    <li><a href="/Venue/">場地介紹</a></li>
                    <li><a href="#">器材租借</a></li>
                    <li><a href="#">器材介紹</a></li>
                </ul>
            </li>

<!--            <li><a href="#">Pages</a>-->
<!--                <ul class="header__menu__dropdown">-->
<!--                    <li><a href="./shop-details.html">Shop Details</a></li>-->
<!--                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>-->
<!--                    <li><a href="./checkout.html">Check Out</a></li>-->
<!--                    <li><a href="./blog-details.html">Blog Details</a></li>-->
<!--                </ul>-->
<!--            </li>-->
            <li><a th:href="@{/FrontArticle}">好文討論區</a>
                <ul class="header__menu__dropdown">
                    <li><a href="#">討論區選單A</a></li>
                    <li><a href="#">討論區選單B</a></li>
                    <li><a href="#">討論區選單C</a></li>
                    <li><a href="#">討論區選單D</a></li>
                </ul>
            </li>
            <!--            <li><a href="./contact.html">Contact</a></li>-->
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/user" sec:authentication="name"></a>
                <ul class="header__menu__dropdown">
                    <li><a href="/user/profile">個人資料</a></li>
                    <li><a href="/user/profile">喜愛清單</a></li>
                    <li><a href="/user/order">購買清單</a></li>
                    <!--                    <li><a href="./checkout.html">我的優惠卷</a></li>-->
                    <li><a href="./blog-details.html">我的課程</a></li>
                    <li><a href="./blog-details.html">我的租借</a></li>
                </ul>
            </li>
            <li><a href="#">小農廠商</a></li>
            <li sec:authorize="hasRole('ROLE_FARMER')"><a th:href="@{/FarmerProductSupplier/}"
                                                          sec:authentication="principal.fullName"></a>
                <ul class="header__menu__dropdown">
                    <li><a th:href="@{/FarmerProductSupplier/}">銷售分析</a></li>
                    <li><a href="#">廠商資料</a></li>
                    <li><a th:href="@{/FarmerProductSupplier/SupplierProductList/}">商品清單</a></li>
                    <li><a href="#">訂單紀錄</a></li>
                </ul>
            </li>
            <!--            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/user" sec:authentication="name"></a>-->
            <!--                <ul class="header__menu__dropdown">-->
            <!--                    <li><a th:href="@{/admin/}">後台首頁</a></li>-->
            <!--                </ul>-->
            <!--            </li>-->
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <!--        <a href="#"><i class="fa fa-facebook"></i></a>-->
        <!--        <a href="#"><i class="fa fa-twitter"></i></a>-->
        <!--        <a href="#"><i class="fa fa-linkedin"></i></a>-->
        <!--        <a href="#"><i class="fa fa-pinterest-p"></i></a>-->
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> bakeyourlife@gmail.com</li>
            <li>公告</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> bakeyourlife@gmail.com</li>
                            <li>公告</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">
                        <!--                        <div sec:authorize="isAuthenticated()">-->
                        <!--                            <a href="/logout"><i class="fa fa-user"></i> Logout</a>-->
                        <!--                        </div>-->
                        <div class="header__top__right__auth">

                            <div sec:authorize="!isAuthenticated()">
                                <ul>
                                    <li><a href="/login"><i class="fa-solid fa-user"></i> 登入</a></li>
                                    <li><a href="/SignUp"><i class="fa-solid fa-user-plus"></i>註冊</a></li>
                                </ul>
                            </div>
                            <!--                            <div sec:authorize="isAuthenticated()">-->
                            <!--                                <a href="/logout"><i class="fa fa-user"></i> 登出</a>-->
                            <!--                            </div>-->
                            <!-- 右上會員資訊 -->
                            <ul>
                                <li sec:authorize="isAuthenticated()">
                                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false"><!-- Douglas McGee -->
                                        <span class="mr-2 d-none d-lg-inline text-gray-600 "
                                              sec:authentication="principal.fullName"></span>

                                        <img class="img-profile rounded-circle"
                                             th:src="${#authentication.principal.imageUrl}" width="50" height="50">

                                    </a>
                                    <!-- 點擊右上會員圖標，彈出選單  -->
                                    <!-- Dropdown - User Information -->
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="userDropdown">
                                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item"
                                           th:href="@{/admin/}">
                                            <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                                            <i class="fa-solid fa-user"></i>
                                            管理者後台
                                        </a>
                                        <a sec:authorize="hasRole('ROLE_FARMER')" class="dropdown-item"
                                           th:href="@{/FarmerProductSupplier/}">
                                            <i class="fas fa-cow fa-sm fa-fw mr-2 text-gray-400"></i>
                                            小農管理中心
                                        </a>
                                        <a sec:authorize="hasRole('ROLE_FARMER')" class="dropdown-item"
                                           th:href="@{/FarmerProductSupplier/UpdateSupplier}">
                                            <i class="fas  fa-address-card fa-sm fa-fw mr-2 text-gray-400"></i>
                                            廠商資料
                                        </a>
                                        <a sec:authorize="hasRole('ROLE_FARMER')" class="dropdown-item"
                                           th:href="@{/FarmerProductSupplier/SupplierProductList/}">
                                            <i class="fas fa-carrot fa-sm fa-fw mr-2 text-gray-400"></i>
                                            商品清單
                                        </a>
                                        <a sec:authorize="hasRole('ROLE_FARMER')" class="dropdown-item"
                                           th:href="@{/FarmerProductSupplier/}">
                                            <i class="fas fa-frog fa-sm fa-fw mr-2 text-gray-400"></i>
                                            訂單紀錄
                                        </a>
                                        <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                                           th:href="@{/admin/}">
                                            <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                                            <i class="fa-solid fa-user"></i>
                                            個人資料
                                        </a>
                                        <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                                           th:href="@{/admin/}">
                                            <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                                            <i class="fa-solid fa-heart"></i>
                                            喜愛清單
                                        </a>
                                        <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                                           th:href="@{/admin/}">
                                            <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            購買清單
                                        </a>
                                        <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                                           th:href="@{/admin/}">
                                            <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                                            <i class="fa-solid fa-school"></i>
                                            我的課程
                                        </a>
                                        <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item"
                                           th:href="@{/admin/}">
                                            <!--                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                                            <i class="fa-solid fa-table"></i>
                                            我的租借
                                        </a>
                                        <!--                                                        <a class="dropdown-item" href="#">-->
                                        <!--                                                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
                                        <!--                                                            Settings-->
                                        <!--                                                        </a>-->
                                        <!--                                                        <a class="dropdown-item" href="#">-->
                                        <!--                                                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>-->
                                        <!--                                                            Activity Log-->
                                        <!--                                                        </a>-->
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">
                                            <!--                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                            登出
                                        </a>
                                    </div>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="/img/logo8.png" style="border-radius: 8px" alt=""></a>
                </div>
            </div>
            <div class="col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/">Bake Your Life</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="#">關於我們</a></li>
                                <li><a href="#">聯絡我們</a></li>
                                <li><a href="#">幫助中心</a></li>
                                <li><a href="#">社群資訊</a></li>
                            </ul>
                        </li>
                        <li><a href="./shop-grid.html">商品</a>
                            <ul class="header__menu__dropdown">
                                <li><a th:href="@{/Goods1/}">一般商品</a></li>
                                <li><a th:href="@{/FarmerProductShop/ShopGrid}">小農商品</a></li>
                                <li><a href="#">待新增</a></li>
                                <li><a href="#">待新增</a></li>
                            </ul>
                        </li>
                        <li><a href="#">課程</a>
                            <ul class="header__menu__dropdown">
                                <li><a th:href="@{/Course}">課程總覽</a></li>
                                <li><a th:href="@{/Course/CreateRegister}">課程報名</a></li>
                                <li><a href="#">課程選單C</a></li>
                                <li><a href="#">課程選單D</a></li>
                            </ul>
                        </li>
                        <li><a href="#">租借</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/Rental/">點我租借</a></li>
                                <li><a href="/Venue/">場地介紹</a></li>
                                <li><a href="#">器材租借</a></li>
                                <li><a href="#">器材介紹</a></li>
                            </ul>
                        </li>
<!--                        <li><a href="#">Pages</a>-->
<!--                            <ul class="header__menu__dropdown">-->
<!--                                <li><a href="./shop-details.html">Shop Details</a></li>-->
<!--                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>-->
<!--                                <li><a href="./checkout.html">Check Out</a></li>-->
<!--                                <li><a href="./blog-details.html">Blog Details</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
                        <li><a th:href="@{/FrontArticle}">好文討論區</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="#">討論區選單A</a></li>
                                <li><a href="#">討論區選單B</a></li>
                                <li><a href="#">討論區選單C</a></li>
                                <li><a href="#">討論區選單D</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="hasRole('ROLE_USER')"><a href="/user" sec:authentication="name"></a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/user/profile">個人資料</a></li>
                                <li><a href="/user/profile">喜愛清單</a></li>
                                <li><a href="/user/order">購買清單</a></li>
                                <!--                                <li><a href="./checkout.html">我的優惠卷</a></li>-->
                                <li><a href="./blog-details.html">我的課程</a></li>
                                <li><a href="./blog-details.html">我的租借</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="hasRole('ROLE_FARMER')"><a th:href="@{/FarmerProductSupplier/}"
                                                                      sec:authentication="principal.fullName"></a>
                            <ul class="header__menu__dropdown">
                                <li><a th:href="@{/FarmerProductSupplier/}">銷售分析</a></li>
                                <li><a href="#">廠商資料</a></li>
                                <li><a th:href="@{/FarmerProductSupplier/SupplierProductList/}">商品清單</a></li>
                                <li><a href="#">訂單紀錄</a></li>
                            </ul>
                        </li>
                        <!--                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/user" sec:authentication="name"></a>-->
                        <!--                            <ul class="header__menu__dropdown">-->
                        <!--                                <li><a th:href="@{/admin/}">後台首頁</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </li>-->
                    </ul>
                </nav>
            </div>
            <div class="col-lg-2">
                <div class="header__cart">
                    <ul>
                        <!--                        <li><a href="#"><i class="fa fa-heart"></i> <span>10</span></a></li>-->
                        <li><a href="/Cart"><i class="fa fa-shopping-bag"></i> <span class="cartCount">10</span></a>
                        </li>
                    </ul>
                    <!--                    <div class="header__cart__price">item: <span>訂單價錢</span></div>-->
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->


