<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="/img/logo3.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>喜愛的項目</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span class="cartCount">購物車</span></a></li>
        </ul>
<!--        <div class="header__cart__price">item: <span>$150.00</span></div>-->
    </div>
    <div class="humberger__menu__widget">
<!--        <div class="header__top__right__language">-->
<!--            <img src="/img/language.png" alt="">-->
<!--            <div>English</div>-->
<!--            <span class="arrow_carrot-down"></span>-->
<!--            <ul>-->
<!--                <li><a href="#">Spanis</a></li>-->
<!--                <li><a href="#">English</a></li>-->
<!--            </ul>-->
<!--        </div>-->
        <div sec:authorize="!isAuthenticated()">
            <div class="header__top__right__auth">
                <a href="/login"><i class="fa fa-user"></i> 登入</a>
                <a href="#">註冊</a>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div class="header__top__right__auth">
                <a href="/logout"><i class="fa fa-user"></i> 登出</a>
            </div>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="/">Bake Your Life</a>
                <ul class="header__menu__dropdown">
                    <li><a href="#">關於我們</a></li>
                    <li><a href="#">聯絡我們</a></li>
                    <li><a href="#">幫助中心</a></li>
                    <li><a href="#">社群資訊</a></li>
                </ul>
            </li>
            <li><a href="#">商品</a>
                <ul class="header__menu__dropdown">
                    <li><a href="#">一般商品</a></li>
                    <li><a href="#">小農商品</a></li>
                    <li><a href="#">待新增</a></li>
                    <li><a href="#">待新增</a></li>
                </ul>
            </li>
            <li><a href="#">課程</a>
                <ul class="header__menu__dropdown">
                    <li><a href="#">課程選單A</a></li>
                    <li><a href="#">課程選單B</a></li>
                    <li><a href="#">課程選單C</a></li>
                    <li><a href="#">課程選單D</a></li>
                </ul>
            </li>
            <li><a href="#">器材場地租借</a>
                <ul class="header__menu__dropdown">
                    <li><a href="#">租借選單A</a></li>
                    <li><a href="#">租借選單B</a></li>
                    <li><a href="#">租借選單C</a></li>
                    <li><a href="#">租借選單D</a></li>
                </ul>
            </li>

<!--            <li><a href="#">Pages</a>-->
<!--                <ul class="header__menu__dropdown">-->
<!--                    <li><a href="./shop-details.html">Shop Details</a></li>-->
<!--                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>-->
<!--                    <li><a href="./checkout.html">Check Out</a></li>-->
<!--                    <li><a href="./blog-details.html">Blog Details</a></li>-->
<!--                </ul>-->
<!--            </li>-->
            <li><a href="#">好文討論區</a>
                <ul class="header__menu__dropdown">
                    <li><a href="#">討論區選單A</a></li>
                    <li><a href="#">討論區選單B</a></li>
                    <li><a href="#">討論區選單C</a></li>
                    <li><a href="#">討論區選單D</a></li>
                </ul>
            </li>
            <li><a href="./contact.html">Contact</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/user" sec:authentication="name"></a>
                <ul class="header__menu__dropdown">
                    <li><a href="/user/profile">個人資料</a></li>
                    <li><a href="/user/profile">喜愛清單</a></li>
                    <li><a href="/user/order">購買清單</a></li>
                    <li><a href="./checkout.html">我的優惠卷</a></li>
                    <li><a href="./blog-details.html">我的課程</a></li>
                    <li><a href="./blog-details.html">我的租借</a></li>
                </ul>
            </li>
            <li><a href="./contact.html">Contact</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/user" sec:authentication="name"></a>
                <ul class="header__menu__dropdown">
                    <li><a href="#">小農廠商資料</a></li>
                    <li><a href="#">小農商品清單</a></li>
                    <li><a href="#">小農訂單紀錄</a></li>
                    <li><a href="#">小農審核紀錄</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
<!--        <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--        <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--        <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--        <a href="#"><i class="fa fa-pinterest-p"></i></a>-->
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> bakeyourlife@gmail.com</li>
            <li>公告放這邊公告放這邊公告放這邊 </li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> bakeyourlife@gmail.com</li>
                            <li>公告放這邊公告放這邊公告放這邊</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">
<!--                        <div sec:authorize="isAuthenticated()">-->
<!--                            <a href="/logout"><i class="fa fa-user"></i> Logout</a>-->
<!--                        </div>-->
                        <div class="header__top__right__auth">
                        <div sec:authorize="!isAuthenticated()">
                                <a href="/login"><i class="fa fa-user"></i> 登入</a>
                                <a href="#">註冊</a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                                <a href="/logout"><i class="fa fa-user"></i> 登出</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="/img/logo3.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/">Bake Your Life</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="#">關於我們</a></li>
                                <li><a href="#">聯絡我們</a></li>
                                <li><a href="#">幫助中心</a></li>
                                <li><a href="#">社群資訊</a></li>
                            </ul>
                        </li>
                        <li><a href="./shop-grid.html">商品</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="#">一般商品</a></li>
                                <li><a href="#">小農商品</a></li>
                                <li><a href="#">待新增</a></li>
                                <li><a href="#">待新增</a></li>
                            </ul>
                        </li>
                        <li><a href="#">課程</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="#">課程選單A</a></li>
                                <li><a href="#">課程選單B</a></li>
                                <li><a href="#">課程選單C</a></li>
                                <li><a href="#">課程選單D</a></li>
                            </ul>
                        </li>
                        <li><a href="#">器材場地租借</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="#">租借選單A</a></li>
                                <li><a href="#">租借選單B</a></li>
                                <li><a href="#">租借選單C</a></li>
                                <li><a href="#">租借選單D</a></li>
                            </ul>
                        </li>
<!--                        <li><a href="#">Pages</a>-->
<!--                            <ul class="header__menu__dropdown">-->
<!--                                <li><a href="./shop-details.html">Shop Details</a></li>-->
<!--                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>-->
<!--                                <li><a href="./checkout.html">Check Out</a></li>-->
<!--                                <li><a href="./blog-details.html">Blog Details</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
                        <li><a href="#">好文討論區</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="#">討論區選單A</a></li>
                                <li><a href="#">討論區選單B</a></li>
                                <li><a href="#">討論區選單C</a></li>
                                <li><a href="#">討論區選單D</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="isAuthenticated()"><a href="/user" sec:authentication="name"></a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/user/profile">個人資料</a></li>
                                    <li><a href="/user/profile">喜愛清單</a></li>
                                    <li><a href="/user/order">購買清單</a></li>
                                    <li><a href="./checkout.html">我的優惠卷</a></li>
                                    <li><a href="./blog-details.html">我的課程</a></li>
                                    <li><a href="./blog-details.html">我的租借</a></li>
                                </ul>
                        </li>
                        <li sec:authorize="isAuthenticated()"><a href="/user" sec:authentication="name"></a>
                            <ul class="header__menu__dropdown">
                                <li><a href="#">小農廠商資料</a></li>
                                <li><a href="#">小農商品清單</a></li>
                                <li><a href="#">小農訂單紀錄</a></li>
                                <li><a href="#">小農審核紀錄</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>喜愛的項目</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span class="cartCount">購物車</span></a></li>
                    </ul>
<!--                    <div class="header__cart__price">item: <span>訂單價錢</span></div>-->
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->


