<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>建立商品</title>

    <div th:replace="/admin/css.html"></div>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="/admin/sidebar.html"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="/admin/header.html"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800"></h1>
                <p class="mb-4">
                    <a href="../Goods/" class="btn btn-primary btn-icon-split btn-sm">
							<span class="icon text-white-50"> <i class="fas fa-undo"></i>
						</span> <span class="text">返回商品管理</span>
                    </a>



                </p>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">新增商品</h6>
                    </div>
                    <div class="card-body">
                        <form  action="" id="form" method="post" th:object="${Goods}"  enctype="multipart/form-data">
                            <!-- 會員編號: -->
                            <div class="row mb-3">
                                <label  for="name" class="col-sm-2 col-form-labels">商品名稱:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{name}" type="text" class="form-control" name="name" onblur="checkName(this)"
                                                id="name" placeholder="請輸入商品名稱" required="required" />
                                </div>
                            </div>
                            <!-- 地址: -->
                            <div class="row mb-3">
                                <label  for="element" class="col-sm-2 col-form-labels">成分:</label>
                                <div class="col-sm-10">
                                    <input  th:field="*{element}" type="text" class="form-control" name="element"
                                                 id="element" placeholder="請輸入商品成分" required="required"/>
                                </div>
                            </div>
                            <!-- 訂單類型: -->
                            <div class="row mb-3">
                                <label  for="origin" class="col-sm-2 col-form-labels">產地:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{origin}" type="text" class="form-control" name="origin"
                                                id="origin" placeholder="請輸入商品產地" required="required"/>
                                </div>
                            </div>

                            <!-- 運費: -->
                            <div class="row mb-3">
                                <label  for="savetime" class="col-sm-2 col-form-labels">保存期限:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{savetime}" type="text" class="form-control" name="savetime" onblur="checkdate(this)"
                                                id="savetime" placeholder="請輸入保存期限" required="required"/>
                                </div>
                            </div>
                            <!-- 總金額: -->
                            <div class="row mb-3">
                                <label  for="packages" class="col-sm-2 col-form-labels">價格(元):</label>
                                <div class="col-sm-10">
                                    <input th:field="*{packages}" type="text" class="form-control" name="packages" onblur="checkprice(this)"
                                                id="packages"  placeholder="請輸入商品價格" required="required"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label  for="count" class="col-sm-2 col-form-labels">數量:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{count}" type="text" class="form-control" name="count" onblur="checkprice(this)"
                                           id="count"  placeholder="請輸入商品數量" required="required"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="picture" class="col-sm-2 col-form-labels">圖片:</label>
                                <div class="col-sm-10">
<!--                                    <img id="cs0" width='60' height='72'  class="">-->
                                    <div id="formFile"></div>
                                    <input th:field="*{productImage}" type="file" class="form-control" name="goodImage" onblur=""
                                           required="required" id="picture" accept="image/png, image/jpeg, image/jpg" multiple="multiple"/>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label  for="system" class="col-sm-2 col-form-labels">狀態:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{system}" class="form-control form-select mb-3" name="system" id="system"
                                            aria-label="Default select example">
                                        <!-- 問一下 --> <option value="上架中" >上架中</option>
                                         <option value="已下架" >已下架</option>
                                         <option value="待上架" >待上架</option>
                                     </select>
                                 </div>
                             </div>

                             <div class="row mb-3">
                                 <label  for="packagematerial" class="col-sm-2 col-form-labels">商品包裝材質:</label>
                                 <div class="col-sm-10">
                                     <select th:field="*{packagematerial}" class="form-control form-select mb-3" name="packagematerial" id="packagematerial"
                                                  aria-label="Default select example">
                                         <!-- 問一下  --> <option value="原裝利樂包" >原裝利樂包</option>
                                         <option value="透明夾鏈立袋" >透明夾鏈立袋</option>
                                         <option value="保溫錫箔紙" >保溫錫箔紙</option>
                                     </select>
                                 </div>
                             </div>
                             <div class="row mb-3">
                                 <label  for="saveway" class="col-sm-2 col-form-labels">商品保存方式:</label>
                                 <div class="col-sm-10">
                                     <select th:field="*{saveway}" class="form-control form-select mb-3" name="saveway" id="saveway"
                                                  aria-label="Default select example">
                                         <!-- 問一下 --> <option value="常溫" >常溫</option>
                                         <option value="冷藏" >冷藏</option>
                                         <option value="冷凍" >冷凍</option>
                                     </select>
                                 </div>
                             </div>
                             <div class="row mb-3">
                                 <label  for="describe" class="col-sm-2 col-form-labels">商品描述:</label>
                                 <div class="col-sm-10">
                                     <input th:field="*{describe}" type="text" class="form-control" name="describe"
                                            id="describe"  placeholder="請輸入商品描述" required="required"/>
                                 </div>
                             </div>

<!--                            <div class="row mb-3">-->
<!--                                <label  for="count" class="col-sm-2 col-form-labels">買家評論:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input th:field="*{evaluation}" type="text" class="form-control" name="describe"-->
<!--                                           id="evaluation"  placeholder="請輸入商品描述" required="required"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row mb-3">-->
<!--                                <label  for="count" class="col-sm-2 col-form-labels">星星數量:</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input th:field="*{stars}" type="text" class="form-control" name="count" onblur="checkprice(this)"-->
<!--                                           id="stars"  placeholder="請輸入商品數量" required="required"/>-->
<!--                                </div>-->
<!--                            </div>-->


                             <button type="submit" class="btn btn-primary">建立商品</button>
                            <button type="button" class="btn btn-primary" onclick="inputGood()">一鍵輸入</button>
                         </form>
                     </div>
                 </div>
             </div>
             <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <div th:replace="/admin/footer.html"></div>


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



<!-- Bootstrap core JavaScript-->
<div th:replace="/admin/javascript.html"></div>
<script>
    function checkdate(e) {
        var date = e.value
        var reg = /^[0-9]{4}-[0-9]{2}-[0-9]{2}$/
        if(reg.test(date))return
        else{alert("日期格式錯誤。須為YYYY-MM-DD")}
        e.value=""
    }

    function checkprice(e){
        var price = e.value;
        if(price>=0)return;
        else{alert("價格不得為負數。")};
        e.value=""
    }

    function checkName(e){
        var name = e.value
        $.ajax({
            type: "POST",
            url: "./CheckGoods",
            data: "name="+name,
            success: function(data){
                console.log(data);
                if(data==true){
                    alert("商品名稱已存在");
                    e.value = '';}else{
                }
                return;
            }
        });
    }

    // $(document).ready(function(){
    //     $("body").on("change", "#picture", function(e){
    //         var file = e.target.files[0];
    //         var mediabase64data;
    //         getBase64(file).then(
    //             mediabase64data => $('#cs').attr('src', mediabase64data)
    //         );
    //     });
    // })
    //
    // function getBase64(file) {
    //     return new Promise((resolve, reject) => {
    //         const reader = new FileReader();
    //         reader.readAsDataURL(file);
    //         reader.onload = () => resolve(reader.result);
    //         reader.onerror = error => reject(error);
    //     });
    // }
    $('#picture').on('change', function () {
        var picture = document.getElementById("picture");
        var number = picture.files.length;
        document.getElementById("formFile").innerHTML = ""
        for (i = 0; i < number; i++) {
            var urls = URL.createObjectURL(event.target.files[i]);
            document.getElementById("formFile").innerHTML +=
                '<span class="col-12 mb-3"> <img height="100" width="100" class="rounded mb-3" src="' + urls + '" /> </span>';


        }
    })

    function inputGood() {
        $("#name").val("北海道優質麵粉")
        $("#element").val("小麥粉")
        $("#origin").val("日本")
        $("#savetime").val("2022-06-05")
        $("#packages").val("59")
        $("#count").val("50")
        $("#describe").val("以黑麥、小麥等糧食作物為基本原料，先磨成粉，再加水、鹽、酵母等和面並製成" +
            "麵團坯料，然後再以烘、烤、蒸或煎等方式加熱製成的食品。麵包有時候也含有其他成分，例如牛奶、雞蛋、糖、香" +
            "料、水果、果仁等等。麵包是最古老的加工食品之一，在新石器時代已經出現。  通常提到麵包，大都會想到歐美麵包的夾餡" +
            "麵包、甜麵包等。其實，按照上述的定義劃分，麵包這一食品範圍更加廣泛，世界上還有許多特殊種類的麵" +
            "包。  世界上廣泛使用的製作麵包的原料除了黑麥粉、小麥粉以外，還有蕎麥粉、糙米粉、玉米粉等。有" +
            "些麵包經酵母發酵，在烘烤過程中變得更加彭鬆柔軟；亦有剛好相反的麵包，不需要經過發酵。儘管原料和製" +
            "作工藝不盡相同，它們都被稱為麵包。")


    }

</script>
</body>
</html>