<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>修改商品</title>

    <div th:replace="/admin/css.html"></div>
    <style>
        .picture {
            border-radius: 5px;
            object-fit: cover;
            width: 120px;
            height: 90px;
            /* max-width: 100%; */
            /* max-height: 100%; */
        }
    </style>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="/admin/sidebar.html"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="/admin/header.html"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800"></h1>
                <p class="mb-4">
                    <a href="../Goods/" class="btn btn-primary btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-undo"></i>
                                    </span>
                        <span class="text">返回商品管理</span>
                    </a>



                </p>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">修改商品</h6>
                    </div>
                    <div class="card-body">

                        <form action="" method="post" th:object="${Goods}" enctype="multipart/form-data">
                        <p th:text="|商品編號:${Goods.id}|"></p>
                            <!-- 會員編號: -->
                            <div class="row mb-3">
                                <label  for="name" class="col-sm-2 col-form-labels">商品名稱:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{name}" type="text" class="form-control" name="name" id="name"
                                           onblur="checkName(this)" value="${name}"  required="required"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label  for="element" class="col-sm-2 col-form-labels">成分:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{element}" type="text" class="form-control" name="element" id="element"
                                                value="${element}" required="required"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label  for="origin" class="col-sm-2 col-form-labels">商品產地:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{origin}" type="text" class="form-control" name="origin" id="origin"
                                                value="${origin}" required="required"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label  for="savetime" class="col-sm-2 col-form-labels">商品保存期限:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{savetime}" type="text" class="form-control" name="savetime" id="savetime" onblur="checkdate(this)"
                                                value="${savetime}" required="required"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label  for="packages" class="col-sm-2 col-form-labels">商品價格(元):</label>
                                <div class="col-sm-10">
                                    <input th:field="*{packages}" type="text" class="form-control" name="packages" id="packages" onblur="checkprice(this)"
                                                value="${packages}" required="required"/>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label  for="packages" class="col-sm-2 col-form-labels">數量:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{count}" type="text" class="form-control" name="count" id="count" onblur="checkprice(this)"
                                           value="${count}" required="required"/>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label  for="orderStatus" class="col-sm-2 col-form-labels">商品包裝材質:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{system}" class="form-control form-select mb-3" name="system" id="system"
                                            aria-label="Default select example">
                                        <%-- 問一下 --%> <option value="上架中" >上架中</option>
                                        <option value="已下架" >已下架</option>
                                        <option value="待上架" >待上架</option>
                                    </select>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label  for="orderStatus" class="col-sm-2 col-form-labels">商品包裝材質:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{packagematerial}" class="form-control form-select mb-3" name="packagematerial" id="packagematerial"
                                                 aria-label="Default select example">
                                        <%-- 問一下 --%> <option value="原裝利樂包" >原裝利樂包</option>
                                        <option value="透明夾鏈立袋" >透明夾鏈立袋</option>
                                        <option value="保溫錫箔紙" >保溫錫箔紙</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label  for="orderStatus" class="col-sm-2 col-form-labels">商品保存方式:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{saveway}" class="form-control form-select mb-3" name="saveway" id="saveway"
                                                 aria-label="Default select example">
                                        <%-- 問一下 --%> <option value="常溫" >常溫</option>
                                        <option value="冷藏" >冷藏</option>
                                        <option value="冷凍" >冷凍</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label  for="origin" class="col-sm-2 col-form-labels">商品圖片:</label>
                                <div class="col-sm-10">
                                    <img id="cs" width='60' height='72' th:src="@{/admin/Goods/picture(id=*{id})}" class="">
                                    <input th:field="*{productImage}" type="file" class="form-control" name="picture"
                                                id="picture"/>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label  for="packages" class="col-sm-2 col-form-labels">商品描述:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{describe}" type="text" class="form-control" name="describe" id="describe"
                                           value="${describe}" required="required"/>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label  for="packages" class="col-sm-2 col-form-labels">買家評論:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{evaluation}" type="text" class="form-control" name="describe" id="evaluation"
                                           value="${evaluation}" required="required"/>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label  for="packages" class="col-sm-2 col-form-labels">星星數量:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{stars}" type="text" class="form-control" name="count" id="stars" onblur="checkprice(this)"
                                           value="${stars}" required="required"/>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">修改商品</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <div th:replace="/admin/footer.html"></div>


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



<div th:replace="/admin/javascript.html"></div>
<script>
    // $("#picture").change(function(){
    //
    //     readURL(this);
    //
    // });
    //
    //
    //
    // function readURL(input){
    //
    //     if(input.files && input.files[0]){
    //
    //         var reader = new FileReader();
    //
    //         reader.onload = function (e) {
    //
    //             $(".picture").attr('src', e.target.result);
    //
    //         }
    //
    //         reader.readAsDataURL(input.files[0]);
    //
    //     }
    //
    // }


    function checkdate(e) {
        var date = e.value
        var reg = /^[0-9]{4}-[0-9]{2}-[0-9]{2}$/
        if(reg.test(date))return
        else{alert("日期格式錯誤。須為YYYY-MM-DD")}
        e.value=""
    }

    function checkprice(e){
        var price = e.value;
        if(price>=0)return;
        else{alert("價格不得為負數。")};
        e.value=""
    }
    $(document).ready(function(){
        $("body").on("change", "#picture", function(e){
            var file = e.target.files[0];
            var mediabase64data;
            getBase64(file).then(
                mediabase64data => $('#cs').attr('src', mediabase64data)
            );
        });
    })

    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }
    function checkName(e){
        var name = e.value;
        let search = new URLSearchParams(window.location.search);
        let id = search.get('id');
        $.ajax({
            type: "POST",
            url: "./CheckGoods",
            data: "name="+name+"&id="+id,
            success: function(data){
                console.log(data);
                if(data==true){
                    alert("商品名稱已存在");
                    e.value = '';}else{
                }
                return;
            }
        });
    }
</script>
</body>
</html>