<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>租借首頁</title>

    <div th:replace="css.html"></div>

</head>

<body>
<div th:replace="header.html"></div>
<div th:replace="menu.html"></div>


<!-- Hero Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <div class="breadcrumb__text">
                        <h2>租借首頁</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Hero Section End -->

<!-- Rental Section Begin -->
<section class="product spad">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-5">
            <div class="sidebar">
                <div class="sidebar__item">
                    <h4>場地</h4>
                    <ul id="ul_vSort">

                    </ul>
                    <br>
                    <br>
                    <h4>器材</h4>
                    <ul id="ul_tSort">
                    </ul>
                </div>

<!--                <div class="sidebar__item">-->
<!---->
<!--                    <div class="latest-product__text">-->
<!--                        <h4>熱門</h4>-->

<!--                        <div class="latest-product__slider owl-carousel">-->
<!--                            <div class="latest-prdouct__slider__item" id="hot_v">-->


<!--                            </div>-->
<!--                            <div class="latest-prdouct__slider__item">-->

<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div class="col-lg-9 col-md-7" id="find_div">
            <div class="product__discount">
                <div class="section-title product__discount__title">
                    <h2>場地</h2>
                </div>
                <div class="row" id="vDiv">

                </div>
                <div class="product__pagination" id="vSel">
<!--                    <a href="">1</a>-->
<!--                    <a href="#">2</a>-->
<!--                    <a href="#">3</a>-->
<!--                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>-->
                </div>
            </div>

            <div class="product__discount">
                <div class="section-title product__discount__title">
                    <h2>器材</h2>
                </div>
                <div class="row" id="tDiv">

                </div>
                <div class="product__pagination" id="tSel">
<!--                    <a href="#">1</a>-->
<!--                    <a href="#">2</a>-->
<!--                    <a href="#">3</a>-->
<!--                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>-->
                </div>
            </div>

            </div>


    </div>
</div>
</section>
<!-- Rental Section End -->
<div th:replace="footer.html"></div>

<!--<div th:replace="admin/javascript.html"></div>-->
<script>
    const pic = '/img/logo6.png';
    $(document).ready(function () {

//場地種類列表
        fetch('/VenueSorts')
            .then(response => response.json())
            .then(data => {
                let ul_vSort = "";

                for(let sort of data){
                    if(sort.sort == "課用烘培室"){
                        continue;
                    }
                    ul_vSort = ul_vSort + "<li><a onclick='getVenueBySort("+ sort.venueSortId + ")'>" + sort.sort + "</a></li>";
                }

                $('#ul_vSort').append(ul_vSort);


            })
            .catch((error) => {
                console.log('Error:'+(error))
            })
//器具種類列表
        fetch('/TackleSorts')
            .then(response => response.json())
            .then(data => {
                let ul_tSort = "";
                for(let sort of data){
                    ul_tSort = ul_tSort + "<li><a onclick='getTackleBySort("+ sort.tackleSortId + ")'>" + sort.sort + "</a></li>";
                }
                $('#ul_tSort').append(ul_tSort);
            })
            .catch((error) => {
                console.log('Error:'+(error))
            })

//場地資訊列表
        fetch('/Venues/Not/1')
            .then(response => response.json())
            .then(data => {
                let vDiv = "";
                let max = 4
                for(let i=0 ; i<max ; i++){
                    // if(data[i].venueSort.sort == '課用烘培室'){
                    //     max++;
                    //     continue;
                    // }
                    let picture;
                    if(data[i].venuePicList[0] !== undefined){
                        picture = data[i].venuePicList[0].picture;
                    } else {
                        picture =pic;
                    }
                    vDiv = vDiv +   " <div class='col-lg-6 col-md-6 col-sm-6' >" +
                            " <div class='product__item'>" +
                                "<a href='/Rental/Introduce/Venue/" + data[i].venueId+ "'>"+
                                    " <div class='product__item__pic set-bg' data-setbg='" + picture + "'>" +
                                    " </div>" +
                                    " <div class='product__item__text'>"+
                                        " <h6>" + data[i].venueSort.sort +" "+ data[i].venueName + "</h6>"+
                                        " <h5>$" + data[i].hrPrice + "/時</h5>" +
                                    " </div>"+
                                " </a>" +
                            "</div>"+
                        " </div>";

                }
                $('#vDiv').append(vDiv);
                $('.set-bg').each(function () {
                    var bg = $(this).data('setbg');
                    $(this).css('background-image', 'url(' + bg + ')');
                });

                let long = Object.keys(data).length;
                long = Math.ceil(long/4);

                let vSel = "";

                for( let i=1 ; i<=long ; i++){

                    vSel = vSel + "<a onclick='getVenuePackage(" + i + ")'>" + i + "</a>";
                }


                $('#vSel').append(vSel);
            })
            .catch((error) => {
                console.log('Error:'+(error))
            })


//器具資訊列表
        fetch('/Tackles')
            .then(response => response.json())
            .then(data => {
                let tDiv = "";
                for(let i=0 ; i<4 ; i++) {
                    let picture = undefined;
                    if(data[i].tacklePicList){
                        if(data[i].tacklePicList[0].picture)
                        picture = data[i].tacklePicList[0].picture;
                    } else {
                        picture = pic;
                    }
                        tDiv = tDiv + " <div class='col-lg-6 col-md-6 col-sm-6' >" +
                            " <div class='product__item'>" +
                            "<a href='/Rental/Introduce/Tackle/" + data[i].tackleId + "'>" +
                            " <div class='product__item__pic set-bg' data-setbg='" + picture + "'>" +
                            " </div>" +
                            " <div class='product__item__text'>" +
                            " <h6>" + data[i].tackleSort.sort + " " + data[i].tackleName + "</h6>" +
                            " <h5>$" + data[i].dayPrice + "/天</h5>" +
                            " </div>" +
                            " </a>" +
                            " </div>" +
                            " </div>";
                    }
                    $('#tDiv').append(tDiv);
                    $('.set-bg').each(function () {
                        var bg = $(this).data('setbg');
                        $(this).css('background-image', 'url(' + bg + ')');
                    });

                    let long = Object.keys(data).length;
                    long = Math.ceil(long/4);

                    let tSel = "";

                    for( let i=1 ; i<=long ; i++){

                        tSel = tSel + "<a onclick='getTacklePackage(" + i + ")'>" + i + "</a>";
                    }


                    $('#tSel').append(tSel);

            })
            .catch((error) => {
                console.log('Error:'+(error))
            })

    });


    //分頁查詢場地
    function getVenuePackage(no){
        var vMax = 4*no;
        var vMin = (no-1)*4;
        fetch('/Venues/Not/1')
            .then(response => response.json())
            .then(data => {
                let vDiv = "";
                for(let i=vMin ; i<vMax ; i++){
                    // if(data[i].venueSort.sort == '課用烘培室'){
                    //     vMax++;
                    //     continue;
                    // }
                    if(data[i] != undefined ) {
                        vDiv = vDiv + " <div class='col-lg-6 col-md-6 col-sm-6' >" +
                            " <div class='product__item'>" +
                            "<a href='/Rental/Introduce/Venue/" + data[i].venueId + "'>" ;
                        if (data[i].venuePicList[0] != undefined ) {
                            vDiv = vDiv + " <div class='product__item__pic set-bg' data-setbg='" + data[i].venuePicList[0].picture + "' >";
                        } else {
                            vDiv = vDiv + " <div class='product__item__pic set-bg' data-setbg='" + pic + "' >";
                        }
                        vDiv = vDiv + " </div>" +
                            " <div class='product__item__text'>" +
                            " <h6>" + data[i].venueSort.sort + " " + data[i].venueName + "</h6>" +
                            " <h5>$" + data[i].hrPrice + "/時</h5>" +
                            " </div>" +
                            " </div>" +
                            " </div>";
                    } else{
                        continue;
                    }
                }
                $('#vDiv').html(vDiv);

                $('.set-bg').each(function () {
                    var bg = $(this).data('setbg');
                    $(this).css('background-image', 'url(' + bg + ')');
                });
            })
            .catch((error) => {
                console.log('Error:'+(error))
            })
    };

    //分頁查詢器具
    function getTacklePackage(no){
        var tMax = 4*no;
        var tMin = (no-1)*4;

        fetch('/Tackles')
            .then(response => response.json())
            .then(data => {
                let tDiv = "";
                for(let i=tMin ; i<tMax ; i++){


                    if(data[i] != undefined ) {
                        tDiv = tDiv + " <div class='col-lg-6 col-md-6 col-sm-6' >" +
                            " <div class='product__item'>" +
                            "<a href='/Rental/Introduce/Tackle/" + data[i].tackleId + "'>";
                        if (data[i].tacklePicList[0].picture.length > 0) {
                            tDiv = tDiv + " <div class='product__item__pic set-bg' data-setbg='" + data[i].tacklePicList[0].picture + "' >";
                        } else {
                            tDiv = tDiv + " <div class='product__item__pic set-bg' data-setbg='" + pic + "' >";
                        }
                        tDiv = tDiv + " </div>" +
                            " <div class='product__item__text'>" +
                            " <h6>" + data[i].tackleSort.sort + " " + data[i].tackleName + "</h6>" +
                            " <h5>$" + data[i].dayPrice + "/天</h5>" +
                            " </div>" +
                            " </a>" +
                            " </div>" +
                            " </div>";
                    }else{
                        continue;
                    }
                }
                $('#tDiv').html(tDiv);


                $('.set-bg').each(function () {
                    var bg = $(this).data('setbg');
                    $(this).css('background-image', 'url(' + bg + ')');
                });

            })
            .catch((error) => {
                console.log('Error:'+(error))
            })
    };

    //依種類查詢場地

    function getVenueBySort(sort){
        fetch('/Venues/'+sort)
            .then(response => response.json())
            .then(data => {

                let long = Object.keys(data).length;


                let find_div = '<div class="product__discount">'+
                    '<div class="section-title product__discount__title">' +
                    ' <h2>場地</h2>' +
                    '</div>' +
                    '<div class="row">';
                if(long > 0) {
                    for (let i = 0; i < long; i++) {
                        let picture;
                        if(data[i].venuePicList[0] !== undefined){
                            picture = data[i].venuePicList[0].picture;
                        } else {
                            picture =pic;
                        }
                        find_div = find_div + " <div class='col-lg-6 col-md-6 col-sm-6' >" +
                            " <div class='product__item'>" +
                            "<a href='/Rental/Introduce/Venue/" + data[i].venueId + "'>"+
                            " <div class='product__item__pic set-bg' data-setbg='" + picture + "' >" +
                            " </div>" +
                            " <div class='product__item__text'>" +
                            " <h6>" + data[i].venueSort.sort + " " + data[i].venueName + "</h6>" +
                            " <h5>$" + data[i].hrPrice + "/時</h5>" +
                            " </div>" +
                            "</a>"+
                            " </div>" +
                            " </div>";
                    }
                } else {
                    find_div = find_div + '<h4>目前無可租借場地</h4>';
                }

                find_div = find_div + '</div>' +
                    '</div>';

                $('#find_div').html(find_div);

                $('.set-bg').each(function () {
                    var bg = $(this).data('setbg');
                    $(this).css('background-image', 'url(' + bg + ')');
                });
            })
            .catch((error) => {
                console.log('Error:'+(error))
            })
    }

    //依種類查詢器具

    function getTackleBySort(sort){
        fetch('/Tackles/'+sort)
            .then(response => response.json())
            .then(data => {

                let long = Object.keys(data).length;



                let find_div = '<div class="product__discount">'+
                    '<div class="section-title product__discount__title">' +
                    ' <h2>器具</h2>' +
                    '</div>' +
                    '<div class="row">';

                if(long > 0) {
                    for (let i = 0; i < long; i++) {
                        let picture = data[i].tacklePicList[0].picture;
                        if (picture == null || picture.length <= 0) {
                            picture = pic;
                        }
                        find_div = find_div + " <div class='col-lg-6 col-md-6 col-sm-6' >" +
                            " <div class='product__item'>" +
                            "<a href='/Rental/Introduce/Tackle/" + data[i].tackleId + "'>"+
                            " <div class='product__item__pic set-bg' data-setbg='" + picture + "' >" +
                            " </div>" +
                            " <div class='product__item__text'>" +
                            " <h6>" + data[i].tackleSort.sort + " " + data[i].tackleName + "</h6>" +
                            " <h5>$" + data[i].dayPrice + "/天</h5>" +
                            " </div>" +
                            "</a>"+
                            " </div>" +
                            " </div>";
                    }
                } else {
                    find_div = find_div + '<h4>目前無此種類的器具可租借</h4>';
                }
                find_div = find_div + '</div>' +
                    '</div>';


                $('#find_div').html(find_div);

                $('.set-bg').each(function () {
                    var bg = $(this).data('setbg');
                    $(this).css('background-image', 'url(' + bg + ')');
                });
            })
            .catch((error) => {
                console.log('Error:'+(error))
            })
    }
</script>
</body>

</html>
