<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>租借首頁</title>

    <div th:replace="/css.html"></div>

</head>

<body>
<div th:replace="/header.html"></div>
<div th:replace="/menu.html"></div>


<!-- Hero Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>租借首頁</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">首頁</a>
                        <span>租借</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Rental Section Begin -->
<section class="product spad">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-5">
            <div class="sidebar">
                <div class="sidebar__item">
                    <h4>場地</h4>
                    <ul id="ul_vSort">

                    </ul>
                    <br>
                    <br>
                    <h4>器材</h4>
                    <ul id="ul_tSort">

                    </ul>
                </div>

                <div class="sidebar__item">

                    <div class="latest-product__text">
                        <h4>熱門</h4>

                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item" id="hot_v">


                            </div>
                            <div class="latest-prdouct__slider__item" id="hot_t">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-7">
            <div class="product__discount">
                <div class="section-title product__discount__title">
                    <h2>場地</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6" th:each="venue : ${venues}">
                        <div class="product__item">
<!--                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">-->
<!--                                <ul class="product__item__pic__hover">-->
<!--                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
                            <div class="product__item__text">
                                <div class="product__item__pic set-bg" th:data-setbg="${venue.picture}"></div>
                                <h6><a href="#" th:text="${venue.venueName}"></a></h6>
                                <h5 th:text="|${venue.hrPrice}/天|"></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>

            <div class="product__discount">
                <div class="section-title product__discount__title">
                    <h2>器材</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6" th:each="tackle : ${tackles}">
                        <div class="product__item">
                            <!--                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">-->
                            <!--                                <ul class="product__item__pic__hover">-->
                            <!--                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                            <!--                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                            <!--                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                            <div class="product__item__text">
                                <div class="product__item__pic set-bg" th:data-setbg="${tackle.picture}"></div>
                                <h6><a href="#" th:text="${tackle.tackleName}"></a></h6>
                                <h5 th:text="|${tackle.dayPrice}/天|"></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>

            </div>


    </div>
</div>
</section>
<!-- Rental Section End -->
<div th:replace="/footer.html"></div>

<div th:replace="/admin/javascript.html"></div>

<script>
    getVenueSort();
    getTackleSort();
    getVenueTopThree()
    $(document).ready(function () {
        $('body').on('change', function () {
            getVenueSort();
            getTackleSort();
            getVenueTopThree();
        })
    });

    function getVenueSort(){
        fetch('/VenueSorts')
            .then(response => response.json())
            .then(data => {
                let ul_vSort = "";
                for(let sort of data){
                    ul_vSort = ul_vSort + "<li><a href='/Venue?venueSortId="+ sort.venueSortId + "'>" + sort.sort + "</a></li>";
                }

                $('#ul_vSort').append(ul_vSort);
            })
            .catch((error) => {
                console.log('Error:'+(error))
            })
    }

    function getTackleSort(){
        fetch('/TackleSorts')
            .then(response => response.json())
            .then(data => {
                let ul_tSort = "";
                for(let sort of data){
                    ul_tSort = ul_tSort + "<li><a href='/Tackle?tackleSortId="+ sort.tackleSortId + "'>" + sort.sort + "</a></li>";
                }
                $('#ul_tSort').append(ul_tSort);
            })
            .catch((error) => {
                console.log('Error:'+(error))
            })
    }

    function getVenueTopThree(){
        fetch('/TopThree/Venue')
            .then(response => response.json())
            .then(data => {
                let hot_v = "";
                for(let venue of data){
                    hot_v = hot_v + "<a href='/Venue?venueSortId="+ venue.venueSortId + "' class='latest-product__item'>"+
                                        "<div class='latest-product__item__pic'>"+
                                            "<img src='" + venue.picture + "' alt=''>"+
                                        "</div>"+
                                        "<div class='latest-product__item__text'>"+
                                            "<h6>" + venue.venueName + "</h6>"+
                                            "<h6>" + venue.venueSort.sort + "</h6>"+
                                            "<span>$"+ venue.hrPrice +"/時</span>"+
                                        "</div>"+
                                    "</a>";
                }
                console.log(hot_v)
                $('#hot_v').append(hot_v);

            })
            .catch((error) => {
                console.log('Error:'+(error))
            })
    }

</script>
</body>

</html>
//let vsort = fetch('/VenueSort')
//     .then((response) => {
//        return response.json()
//        console.log(response)
//     })


<!--INSERT INTO venue_list (venue_list_no, rental_date, period, person, price, ingredients, fk_venue_id, fk_rental_id) VALUES ('V20220714001', '2022-07-12', '08:00-12:00', 1, 200, 'Y', 2, 1)-->
<!--INSERT INTO venue_list (venue_list_no, rental_date, period, person, price, ingredients, fk_venue_id, fk_rental_id) VALUES ('V20220714002', '2022-07-16', '08:00-12:00', 1, 200, 'N', 4, 1)-->
<!--INSERT INTO venue_list (venue_list_no, rental_date, period, person, price, ingredients, fk_venue_id, fk_rental_id) VALUES ('V20220714003', '2022-07-20', '12:00-16:00', 1, 200, 'Y', 4, 1)-->
<!--INSERT INTO venue_list (venue_list_no, rental_date, period, person, price, ingredients, fk_venue_id, fk_rental_id) VALUES ('V20220714004', '2022-07-20', '08:00-20:00', 1, 600, 'N', 7, 1)-->
<!--INSERT INTO venue_list (venue_list_no, rental_date, period, person, price, ingredients, fk_venue_id, fk_rental_id) VALUES ('V20220714005', '2022-07-18', '08:00-20:00', 1, 600, 'Y', 7, 1)-->
<!--INSERT INTO venue_list (venue_list_no, rental_date, period, person, price, ingredients, fk_venue_id, fk_rental_id) VALUES ('V20220714006', '2022-07-21', '08:00-12:00', 1, 200, 'N', 3, 1)-->
<!--INSERT INTO venue_list (venue_list_no, rental_date, period, person, price, ingredients, fk_venue_id, fk_rental_id) VALUES ('V20220714007', '2022-07-26', '08:00-16:00', 1, 400, 'N', 2, 1)-->