<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的租借</title>

    <div th:replace="css.html"></div>
    <style>
        a {
            cursor:hand;
        }

    </style>


</head>

<body>
<div th:replace="header.html"></div>
<div th:replace="menu.html"></div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>我的租借</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<section>
    <div class="container">
        <div class="row">
            <div th:replace="user/UserSidebar.html"></div>
            <div class="col-lg-10 pt-5">
                <table class="table table-striped" id="rentalTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>租借單編號</th>
                            <th>下單日期</th>
                            <th>租借類型</th>
                            <th>總金額</th>
                            <th>狀態</th>
                            <th>明細</th>
                            <th>操作</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rental: ${rentals}" th:if="${rental.state != '已退單'}">
                            <td></td>
                            <td th:text="${rental.rentalNo}"></td>
                            <td th:text="${#dates.format(rental.rentalDate, 'yyyy/MM/dd HH:mm:ss')}"></td>
                            <td th:text="${rental.type}"></td>
                            <td th:text="${rental.total}"></td>
                            <td th:text="${rental.state}"></td>
                            <td th:if="${rental.state} == '未下單'">
                                <button type="button" class="btn btn-info btn-sm" th:onclick="|showandupdate(${rental.rentalId})|">
                                <span class="icon text-white-50"> 明細 </span>
                            </button>
                            </td>
                            <td th:unless="${rental.state} == '未下單'">
                                <button type="button" class="btn btn-info btn-sm" th:onclick="|show(${rental.rentalId})|">
                                    <span class="icon text-white-50"> 明細 </span>
                                </button>
                            </td>
                            <td>
                                <span th:if="${rental.state} != '已付款'">
                                <button type="button"
                                        class="btn btn-warning btn-icon-split btn-sm"
                                        th:onclick="|deleteUIRental(${rental.rentalId})|">
                                    <i class="fas fa-trash"></i>取消租借單
                                </button></span>
                                <span th:if="${rental.state} == '未下單'">
                                <button type="button"
                                        class="btn btn-warning btn-icon-split btn-sm"
                                        th:onclick="|orderUIRental(${rental.rentalId})|"
                                        >
                                    <i class="fas fa-trash"></i>租借單下單
                                </button>
                                </span>
                            </td>

                        </tr>
                    </tbody>
                </table>

                <hr>
                <br>

<!--                <div class="row">-->
<!--                    <div class="col-lg-2">-->
<!--                        租借單編號:-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 text-center" id="rentalno">-->

<!--                    </div>-->
<!--                    <div class="col-lg-2">-->
<!--                        總金額:-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 text-center"  id="rentaltotal">-->

<!--                    </div>-->
<!--                    <hr>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<div th:replace="footer.html"></div>

<script th:src="@{/js/rental.js}"></script>

<script>
    function showandupdate(id) {
        Swal.showLoading()
        fetch('./show/'+id+'/venuelist')
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.statusText)
                }
                return response.json()
            })
            .catch(error => {
                Swal.showValidationMessage(
                    `Request failed: ${error}`
                )
            })
            .then( data => {
                console.log(data)
                let htmldata = '<table class="table text-center">' +
                    '<thead>' +
                    '<tr>' +
                    '<th scope="col" class="col-sm-6">場地名稱</th>' +
                    '<th scope="col" class="col-sm-2">場地時段</th>' +
                    '<th scope="col" class="col-sm-2">數量</th>' +
                    '<th scope="col" class="col-sm-2">小計</th>' +
                    '<th></th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody>';

                for (let item of data){
                    htmldata += "<tr>";
                    htmldata += "<th>"+ item.venue.venueName + "</th>";
                    htmldata += "<th>"+ item.rentalDate +" " + item.period + "</th>";
                    htmldata += "<th>"+ item.person + "</th>";
                    htmldata += "<th>"+ item.price + "</th>";
                    htmldata += "<th></th>";
                    htmldata += "</tr>";
                }

                htmldata += '</tr>' +
                    '</tbody>' +
                    '</table>';

                Swal.fire({
                    title: "租借單明細-場地",
                    html: htmldata,
                    width: 1000,
                    showCancelButton: true,
                    cancelButtonText: '離開',
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: '修改'

                }).then((result) => {
                    if (result.isConfirmed) {
                        location="update/"+ id;
                        }
                })
            });
    }

    function show(id) {
        Swal.showLoading()
        fetch('./show/'+id+'/venuelist')
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.statusText)
                }
                return response.json()
            })
            .catch(error => {
                Swal.showValidationMessage(
                    `Request failed: ${error}`
                )
            })
            .then( data => {
                console.log(data)
                let htmldata = '<table class="table text-center">' +
                    '<thead>' +
                    '<tr>' +
                    '<th scope="col" class="col-sm-6">場地名稱</th>' +
                    '<th scope="col" class="col-sm-2">場地時段</th>' +
                    '<th scope="col" class="col-sm-2">數量</th>' +
                    '<th scope="col" class="col-sm-2">小計</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody>';

                for (let item of data){
                    htmldata += "<tr>";
                    htmldata += "<th>"+ item.venue.venueName + "</th>";
                    htmldata += "<th>"+ item.rentalDate + " " + item.period + "</th>";
                    htmldata += "<th>"+ item.person + "</th>";
                    htmldata += "<th>"+ item.price + "</th>";
                    htmldata += "</tr>";
                }

                htmldata += '</tr>' +
                    '</tbody>' +
                    '</table>';

                Swal.fire({
                    title: "租借單明細-場地",
                    html: htmldata,
                    width: 1000

                })
            });
    }

    //刪除租借單
    function deleteUIRental(rentalId) {
        Swal.fire({
            title: '請問是否要刪除此租借單?',
            text: "如果刪除租借單，相關的租借項目也會一併刪除!",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: '取消',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: '刪除'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '/User/rental/DeleteRental?rentalId=' + rentalId,
                    success: function (msg) {
                        Swal.fire(
                            '已刪除!',
                            '訂單已成功刪除!',
                            'success'
                        ).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        })
                    },
                    error: function (msg) {
                        // console.log(msg.status)
                        Swal.fire({
                            icon: 'error',
                            title: '發生錯誤',
                            text: 'HTTP 狀態碼為 ' + msg.status,
                            footer: '<a href="https://developer.mozilla.org/zh-TW/docs/Web/HTTP/Status"  target="_blank">為什麼會有這個問題?</a>'
                        })
                    }
                });


            }
        })
    }

    //下單租借單
    function orderUIRental(rentalId) {
        Swal.fire({
            title: '租借單下單',
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: '取消',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: '確認'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '/User/rental/orderRental/' + rentalId,
                    success: function (msg) {
                        Swal.fire(
                            '下單成功!',
                            '請在限定時間內完成繳費!',
                            'success'
                        ).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        })
                    },
                    error: function (msg) {
                        // console.log(msg.status)
                        Swal.fire({
                            icon: 'error',
                            title: '發生錯誤',
                            text: 'HTTP 狀態碼為 ' + msg.status,
                            footer: '<a href="https://developer.mozilla.org/zh-TW/docs/Web/HTTP/Status"  target="_blank">為什麼會有這個問題?</a>'
                        })
                    }
                });


            }
        })
    }

</script>
</body>

</html>