<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>購物車</title>

    <div th:replace="css.html"></div>
    <style>
        a {
            cursor:hand;
        }

    </style>
</head>

<body onload="getRentalDate()">
<div th:replace="header.html"></div>
<div th:replace="menu.html"></div>


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>開始租借</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">首頁</a>
                        <span>開始租借</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container" id="Cart">


    </div>
</section>
<!-- Shoping Cart Section End -->

<div th:replace="footer.html"></div>

<script>

    function getRentalData(){
        fetch('/')
    }
</script>

</body>

</html>