<form id="formCVL" th:action="@{CreateVenueList(FK_rentalId=*{rental.rentalId})}" method="post" th:object="${venueList}">


  <!-- 租借單編號: -->
  <div class="row mb-3">
    <label for="rentalNo" class="col-sm-2 col-form-labels">租借編號:</label>
    <div class="col-sm-10">
      <input th:field="*{rental.rentalNo}" type="text" class="form-control"
             name="rentalNo" id="rentalNo" th:readonly="true"/>
    </div>
  </div>

  <!-- 清單編號: -->
  <div class="row mb-3">
    <label for="venueListNo" class="col-sm-2 col-form-labels">清單編號:</label>
    <div class="col-sm-10">
      <input th:field="*{venueListNo}" type="text" class="form-control"
             name="venueListNo" id="venueListNo" placeholder="請輸入清單編號"
             required="required" th:readonly="true"/>
    </div>
  </div>

  <!-- 租借場地: -->
  <div class="row mb-3">
    <label for="venueId" class="col-sm-2 col-form-labels">租借場地:</label>
    <div class="col-sm-10" >
      <select th:field="*{venue.venueId}" type="text" class="form-control form-select mb-3" name="venueId"
              id="venueId" aria-label="Default select example" th:onchange="|checkVId()|">
        <option value="">請選擇</option>
        <option th:each="venue : ${venues}" th:value="${venue.venueId}" th:text="${venue.venueName}"></option>
      </select>
      <span class="show" id="s_vId"></span>
    </div>
  </div>

  <!-- 出租時間: -->
  <div class="row mb-3">
    <label for="lendTime" class="col-sm-2 col-form-labels">出租時間:</label>
    <div class="col-sm-10">
      <input th:field="*{lendTime}" type="datetime-local" class="form-control" th:onchange="|checkVLT()|"
             name="lendTime" id="lendTime" required="required"/>
      <span class="show" id="s_lTime"></span>
    </div>
  </div>

  <!-- 結束時間: -->
  <div class="row mb-3">
    <label for="endTime" class="col-sm-2 col-form-labels">結束時間:</label>
    <div class="col-sm-10">
      <input th:field="*{endTime}" type="datetime-local" class="form-control" th:onchange="|checkVET()|"
             name="endTime" id="endTime" required="required"/>
      <span class="show" id="s_eTime"></span>
    </div>
  </div>

  <!-- 人數: -->
  <div class="row mb-3">
    <label for="person" class="col-sm-2 col-form-labels">人數:</label>
    <div class="col-sm-10">
      <input th:field="*{person}" type="number" class="form-control"
             name="person" id="person" th:min="1" required="required"/>
    </div>
  </div>

  <!-- 食材提供: -->
  <div class="row mb-3" style="display: none">
    <label for="ingredients" class="col-sm-2 col-form-labels">食材提供:</label>
    <div class="col-sm-10" >
      <select th:field="*{ingredients}" type="text" class="form-control form-select mb-3" name="ingredients"
              id="ingredients" aria-label="Default select example">
        <option th:value="N" th:text="不提供" selected></option>
        <option th:value="Y" th:text="提供" ></option>
      </select>
    </div>
  </div>

  <!-- 小計: -->
  <div class="row mb-3">
    <label for="priceVL" class="col-sm-2 col-form-labels">小計:</label>
    <div class="col-sm-10">
      <input th:field="*{price}" type="number" class="form-control"
             name="price" id="priceVL" th:min="0" required="required"/>
    </div>
  </div>
<p>
  <button type="submit" id="submit_List" class="btn btn-primary" >建立清單</button>
</p>

</form>