

<form th:action="@{CreateTackleList(FK_rentalId=*{rental.rentalId})}" method="post" th:object="${tackleList}">



  <!-- 租借單編號: -->
  <div class="row mb-3">
    <label for="tlc_rNo" class="col-sm-3 col-form-labels">租借編號:</label>
    <div class="col-sm-9">
      <input th:field="*{rental.rentalNo}" type="text" class="form-control"
             name="rentalNo" id="tlc_rNo" th:readonly="true"/>
      <span class="show"></span>
    </div>
    <p></p>
  </div>

  <!-- 租借類型: -->
  <div class="row mb-3">
    <label for="tlc_type" class="col-sm-3 col-form-labels">租借類型:</label>
    <div class="col-sm-9">
      <input th:field="*{rental.type}" type="text" class="form-control"
             name="listType" id="tlc_type" th:readonly="true"/>
      <span class="show"></span>
    </div>
  </div>

  <!-- 清單編號: -->
  <div class="row mb-3">
    <label for="tlc_tLNo" class="col-sm-3 col-form-labels">清單編號:</label>
    <div class="col-sm-9">
      <input th:field="*{tackleListNo}" type="text" class="form-control"
                  name="tackleListNo" id="tlc_tLNo" placeholder="請輸入清單編號"
                  required="required" th:readonly="true"/>
      <span class="show"></span>
    </div>
  </div>

  <!-- 租借器具: -->
  <div class="row mb-3">
    <label for="tlc_tId" class="col-sm-3 col-form-labels">租借器具:</label>
    <div class="col-sm-9" >
      <select th:field="*{tackle.tackleId}" type="text" class="form-control form-select mb-3" name="tackleId"
              id="tlc_tId" aria-label="Default select example" th:onchange="|checkTId()|">
        <option value="" selected>請選擇</option>
        <option th:each="tackle : ${tackles}" th:value="${tackle.tackleId}" th:text="${tackle.tackleName}"></option>
      </select>
      <span class="show" id="s_tlc_tId"></span>
    </div>
  </div>

  <!-- 出租時間: -->
  <div class="row mb-3">
    <label for="tlc_lDate" class="col-sm-3 col-form-labels">出租時間:</label>
    <div class="col-sm-9">
      <input th:field="*{lendDate}" type="date" class="form-control" th:onchange="|checkTLD()|"
                  name="lendDate" id="tlc_lDate" required="required"/>
      <span class="show" id="s_tlc_lDate"></span>
    </div>
  </div>

  <!-- 結束時間: -->
  <div class="row mb-3">
    <label for="tlc_eDate" class="col-sm-3 col-form-labels">結束時間:</label>
    <div class="col-sm-9">
      <input th:field="*{endDate}" type="date" class="form-control" th:onchange="|checkTED()|"
             name="endDate" id="tlc_eDate" required="required"/>
      <span class="show" id="s_tlc_eDate"></span>
    </div>
  </div>

  <!-- 歸還時間: -->
<!--  <div class="row mb-3" id="rD">-->
<!--    <label for="tlc_rDate" class="col-sm-3 col-form-labels">歸還時間:</label>-->
<!--    <div class="col-sm-9">-->
<!--      <input th:field="*{returnDate}" type="date" class="form-control" th:onchange="|checkTRD()|"-->
<!--                  name="returnDate" id="tlc_rDate"/>-->
<!--      <span class="show" id="s_tlc_rDate"></span>-->
<!--    </div>-->
<!--  </div>-->

  <!-- 數量: -->
  <div class="row mb-3">
    <label for="tlc_qua" class="col-sm-3 col-form-labels">數量:</label>
    <div class="col-sm-9">
      <input th:field="*{quantity}" type="number" class="form-control"
                  name="quantity" id="tlc_qua" th:min="1" required="required"/>
      <span class="show" id="s_tlc_qua"></span>
    </div>
  </div>
  <!-- 小計: -->
  <div class="row mb-3">
    <label for="tlc_pri" class="col-sm-3 col-form-labels">小計:</label>
    <div class="col-sm-9">
      <input th:field="*{price}" type="number" class="form-control"
                  name="price" id="tlc_pri" th:min="0" required="required"/>
      <span class="show" id="s_tlc_pri"></span>
    </div>
  </div>

  <button type="submit" id="submit" class="btn btn-primary">建立清單</button>

</form>