<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>建立租借單</title>

    <div th:replace="/admin/css.html"></div>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="/admin/sidebar.html"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="/admin/header.html"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800"></h1>
                <p class="mb-4">
                    <a href="../Rental/" class="btn btn-primary btn-icon-split btn-sm">
							<span class="icon text-white-50"> <i class="fas fa-undo"></i>
						</span> <span class="text">返回租借管理</span></a>
                </p>

                <div th:if="${error}" class="alert alert-danger" role="alert"></div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">建立租借單</h6>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" th:object="${rental}">


                            <!-- 租借單編號: -->
                            <div class="row mb-3">
                                <label for="mc_rNo" class="col-sm-2 col-form-labels">租借單編號:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{rentalNo}" name="rentalNo" id="mc_rNo" type="text" class="form-control"
                                           required="required" th:readonly="true" />
                                </div>
                            </div>

                            <!-- 會員: -->
                            <div class="row mb-3">
                                <label for="mc_uId" class="col-sm-2 col-form-labels">會員:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{user.userId}" type="text" class="form-control form-select mb-3" name="userId"
                                                id="mc_uId" aria-label="Default select example">
                                        <option th:each="user1 : ${users}" th:value="${user1.userId}" th:text="${user1.username}"></option>
                                    </select>
                                </div>
                            </div>

                            <!-- 租借類型: -->
                            <div class="row mb-3">
                                <label for="mc_type" class="col-sm-2 col-form-labels">租借類型:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{type}" type="text" class="form-control form-select mb-3"
                                                 name="listType" id="mc_type" aria-label="Default select example" >
                                        <option th:value="場地" th:text="場地"></option>
                                        <option th:value="器具" th:text="器具"></option>
                                    </select>
                                </div>
                            </div>
                            <!-- 租借單總金額: -->
                            <div class="row mb-3">
                                <label for="mc_tal" class="col-sm-2 col-form-labels">總金額:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{total}" type="number" class="form-control" name="total"
                                               id="mc_tal" th:min="0"  required="required" />
                                </div>
                            </div>

                            <!-- 租借狀態: -->
                            <div class="row mb-3">
                                <label for="mc_sta" class="col-sm-2 col-form-labels">租借狀態:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{state}" type="text" class="form-control form-select mb-3"
                                            name="state" id="mc_sta" aria-label="Default select example">
                                        <option th:value="未付款" th:text="未付款" selected></option>
                                        <option th:value="已付款" th:text="已付款"></option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">建立租借單</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:replace="/admin/footer.html"></div>


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



<!-- Bootstrap core JavaScript-->
<div th:replace="/admin/javascript.html"></div>

<script>

</script>
</body>

</html>