<form th:action="@{CreateTackle}" method="post" th:object="${tackle}">


    <!-- 器具名稱: -->
    <div class="row mb-3">
        <label for="tackleName" class="col-sm-2 col-form-labels">器具名稱:</label>
        <div class="col-sm-10">
<!--            <input th:field="*{tackleName}" type="text" class="form-control"-->
<!--                   name="tackleName" id="tackleName" required="required"/>-->
            <input type="text" class="form-control"
                   th:name="tackleName" id="tackleName" required="required"/>
            <span class="show" id="s_tName"></span>
        </div>
    </div>


    <!-- 器具型號: -->
    <div class="row mb-3">
        <label for="productModel" class="col-sm-2 col-form-labels">器具型號:</label>
        <div class="col-sm-10">
<!--            <input th:field="*{productModel}" type="text" class="form-control"-->
<!--                   name="productModel" id="productModel" />-->
            <input type="text" class="form-control" th:onblur="|checkTN()|"
                   th:name="productModel" id="productModel" />
        </div>
    </div>


    <!-- 器具規格: -->
    <div class="row mb-3">
        <label for="specification" class="col-sm-2 col-form-labels">器具規格:</label>
        <div class="col-sm-10">
<!--            <input th:field="*{specification}" type="text" class="form-control"-->
<!--                   name="specification" id="specification" />-->
            <input type="text" class="form-control"
                   th:name="specification" id="specification" />
        </div>
    </div>


    <!-- 價錢/1天: -->
    <div class="row mb-3">
        <label for="dayPrice" class="col-sm-2 col-form-labels"> 價錢/天:</label>
        <div class="col-sm-10">
<!--            <input th:field="*{dayPrice}" type="number" class="form-control"-->
<!--                   name="dayPrice" id="dayPrice" th:min="50" required="required"/>-->
            <input type="number" class="form-control"
                   th:name="dayPrice" id="dayPrice" th:min="50" th:max="500" required="required"/>
        </div>
    </div>


    <!-- 總數量: -->
    <div class="row mb-3">
        <label for="max" class="col-sm-2 col-form-labels"> 總數量:</label>
        <div class="col-sm-10">
<!--            <input th:field="*{max}" type="number" class="form-control"-->
<!--                   name="max" id="max" th:min="1" required="required"/>-->
            <input type="number" class="form-control"
                   th:name="max" id="max" th:min="1" th:max="100" required="required" />
        </div>
    </div>

<!--    &lt;!&ndash; 圖片: &ndash;&gt;-->
<!--    <div class="row mb-3">-->
<!--        <label for="max" class="col-sm-2 col-form-labels"> 圖片:</label>-->
<!--        <div class="col-sm-10">-->
<!--            <input th:field="*{max}" type="number" class="form-control"-->
<!--                   name="max" id="max" th:min="1" required="required"/>-->
<!--        </div>-->
<!--    </div>-->

    <button type="submit" id="submit" class="btn btn-primary">建立</button>
</form>
