<form th:action="@{CreateTackle}" method="post" th:object="${tackle}">


    <!-- 器具名稱: -->
    <div class="row mb-3">
        <label for="tackleName" class="col-sm-2 col-form-labels">器具名稱:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"
                   th:name="tackleName" id="tackleName" required="required"/>
            <span class="show" id="s_tName"></span>
        </div>
    </div>


<!--    &lt;!&ndash; 器具型號: &ndash;&gt;-->
<!--    <div class="row mb-3">-->
<!--        <label for="productModel" class="col-sm-2 col-form-labels">器具型號:</label>-->
<!--        <div class="col-sm-10">-->
<!--            <input type="text" class="form-control" th:onblur="|checkTN()|"-->
<!--                   th:name="productModel" id="productModel" />-->
<!--        </div>-->
<!--    </div>-->


    <!-- 器具規格: -->
    <div class="row mb-3">
        <label for="specification" class="col-sm-2 col-form-labels">器具規格:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"
                   th:name="specification" id="specification" />
        </div>
    </div>


    <!-- 價錢/1天: -->
    <div class="row mb-3">
        <label for="dayPrice" class="col-sm-2 col-form-labels"> 價錢/天:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control"
                   th:name="dayPrice" id="dayPrice" th:min="10" th:max="500" required="required"/>
        </div>
    </div>


    <!-- 損毀價錢: -->
    <div class="row mb-3">
        <label for="damages" class="col-sm-2 col-form-labels"> 損毀價錢:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control"
                   th:name="damages" id="damages" th:min="1" th:max="10000" required="required"/>
        </div>
    </div>


    <!-- 總數量: -->
    <div class="row mb-3">
        <label for="max" class="col-sm-2 col-form-labels"> 總數量:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control"
                   th:name="max" id="max" th:min="1" th:max="200" required="required" />
        </div>
    </div>

    <!-- 圖片: -->
<!--    <div class="row mb-3">-->
<!--        <label for="picturn" class="col-sm-2 col-form-labels"> 圖片:</label>-->
<!--        <div class="col-sm-10">-->
<!--            <input th:field="*{picturn}" type="file" class="form-control"-->
<!--                   name="picturn" id="picturn"/>-->
<!--        </div>-->
<!--    </div>-->

    <!-- 備註: -->
<!--    <div class="row mb-3">-->
<!--        <label for="tNote" class="col-sm-2 col-form-labels"> 備註:</label>-->
<!--        <div class="col-sm-10">-->
<!--            <textarea class="form-control" th:name="tNote" id="tNote" ></textarea>-->
<!--        </div>-->
<!--    </div>-->

    <button type="submit" id="submit" class="btn btn-primary">建立</button>
</form>
