<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>新增器具清單</title>

  <div th:replace="admin/css.html"></div>
  <style>
  </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <div th:replace="admin/sidebar.html"></div>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <div th:replace="admin/header.html"></div>


      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800"></h1>
        <p class="mb-4">
          <a href="../Rental/" class="btn btn-primary btn-icon-split btn-sm">
							<span class="icon text-white-50"> <i class="fas fa-undo"></i>
						</span> <span class="text">返回</span></a>
        </p>

<!--        <div th:if="${error}" class="alert alert-danger" role="alert"></div>-->

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">新增器具清單</h6>
          </div>
          <div class="card-body">
<form action="" method="post" th:object="${tackleList}">



  <!-- 租借單編號: -->
  <div class="row mb-3">
    <label for="tlc_rNo" class="col-sm-3 col-form-labels">租借編號:</label>
    <div class="col-sm-9">
      <input th:field="*{rental.rentalNo}" type="text" class="form-control"
             name="rentalNo" id="tlc_rNo" th:readonly="true"/>
      <span class="show"></span>
    </div>
    <p></p>
  </div>

  <!-- 清單編號: -->
  <div class="row mb-3">
    <label for="tlc_tLNo" class="col-sm-3 col-form-labels">清單編號:</label>
    <div class="col-sm-9">
      <input th:field="*{tackleListNo}" type="text" class="form-control"
                  name="tackleListNo" id="tlc_tLNo" placeholder="請輸入清單編號"
                  required="required" th:readonly="true"/>
      <span class="show"></span>
    </div>
  </div>

  <!-- 出租時間: -->
  <div class="row mb-3">
    <label for="tlc_lDate" class="col-sm-3 col-form-labels">出租時間:</label>
    <div class="col-sm-9">
      <input th:field="*{lendDate}" type="date" class="form-control" th:onchange="|checkTLD()|"
                  name="lendDate" id="tlc_lDate" required="required"/>
      <span class="show" id="s_tlc_lDate"></span>
    </div>
  </div>

  <!-- 結束時間: -->
  <div class="row mb-3">
    <label for="tlc_eDate" class="col-sm-3 col-form-labels">結束時間:</label>
    <div class="col-sm-9">
      <input th:field="*{endDate}" type="date" class="form-control" th:onchange="|checkTED()|"
             name="endDate" id="tlc_eDate" required="required"/>
      <span class="show" id="s_tlc_eDate"></span>
    </div>
  </div>

  <!-- 合計: -->
  <div class="row mb-3">
    <label for="tlc_pri" class="col-sm-3 col-form-labels">合計:</label>
    <div class="col-sm-9">
      <input th:field="*{total}" type="number" class="form-control"
                  name="total" id="tlc_pri" th:min="0" required="required"/>
      <span class="show" id="s_tlc_pri"></span>
    </div>
  </div>

  <!-- 租借狀態: -->
  <div class="row mb-3">
    <label for="tlc_sta" class="col-sm-3 col-form-labels">租借狀態:</label>
    <div class="col-sm-9">
      <select th:field="*{state}" type="text" class="form-control form-select mb-3"
              name="state" id="tlc_sta" aria-label="Default select example">
        <option th:value="未借出" th:text="未借出" selected></option>
        <option th:value="已借出" th:text="已借出"></option>
      </select>
    </div>
    <!--                                <div class="col-sm-5"></div>-->
  </div>

  <!-- 器具包: -->
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>器具</th>
          <th>數量</th>
          <th>小計</th>

        </tr>
        </thead>
        <tbody>
        <td>
          <select th:field="*{tackleIds}" class="form-control form-select mb-3"
                  name="tackles" type="text"  aria-label="Default select example" >
            <option th:each="tackle : ${tackles}" th:value="${tackle.tackleId}"
                    th:text="${tackle.tackleName}" ></option>
          </select>
        </td>
        <td>
          <input th:field="*{quantitys}" type="number" class="form-control"
                   name="quantitys" th:min="1" required="required"/>
        </td>
        <td>
          <input th:field="*{prices}" type="number" class="form-control"
                 name="prices" th:min="1" required="required"/>
        </td>
        </tbody>
      </table>
      <a id="btn" class="btn btn-primary">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>

  <button type="submit" id="submit" class="btn btn-primary">建立清單</button>

</form>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <div th:replace="admin/footer.html"></div>


  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



<!-- Bootstrap core JavaScript-->
<div th:replace="admin/javascript.html"></div>

<script th:src="@{/js/rental.js}"></script>
<script>
  $(function () {


  $('#btn').click(function(){
    let content='<tr>'+
                '<td>'+
                '<select th:field="[[*{tackleIds}]]" class="form-control form-select mb-3"'+
            'name="tackles" type="text"  aria-label="Default select example" >'+
            '<option th:each="[[tackle : ${tackles}]]" th:value="[[${tackle.tackleId}]]"'+
                   'th:text="[[${tackle.tackleName}]]" ></option>'+
          '</select>'+
            '</td>'+
            '<td>'+
                '<input th:field="[*{quantitys}]" type="number" class="form-control"'+
                   'name="quantitys" th:min="0" required="required"/>'+
            '</td>'+
            '<td>'+
                '<input th:field="[*{prices}]" type="number" class="form-control"'+
                 'name="prices" th:min="0" required="required"/>'+
            '</td>'+
            '<td><button class="del btn btn-danger"><i class="fas fa-minus"></i></button></td>'+
        '</tr>';
    if($('tr').length<=10){
      $('tbody').append(content)
    }
  })
  $('tbody').on('click','.del',function(){
    $(this).closest('tr').remove()
  })

  });
</script>
</body>

</html>
