<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>租借管理</title>

  <div th:replace="admin/css.html"></div>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <div th:replace="admin/sidebar.html"></div>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <div th:replace="admin/header.html"></div>



      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">租借管理</h1>
<!--        <p class="mb-4">-->
<!--          <a href="CreateRental"-->
<!--             class="btn btn-primary btn-icon-split btn-sm"> <span-->
<!--                  class="icon text-white-50"> <i class="fas fa-plus"></i>-->
<!--						</span> <span class="text">建立租借單</span>-->
<!--          </a>-->
<!--        </p>-->

        <p class="mb-4">

        <form action="" class="form-inline">

          <label for="rNo" class="row-cols-1 col-form-labels">租借單編號:</label>
          <input th:name="rNo" id="rNo" class="form-control" maxlength="15" />

          <label for="user" class="row-cols-1 col-form-labels">會員:</label>
          <select type="text" class="form-control form-select mb-sm-1"
                  th:name="user" id="user" aria-label="Default select example">
            <option value="">請選擇</option>
            <option th:each="user1 : ${users}" th:text="${user1.username}" th:value="${user1.userId}"></option>
          </select>

          <label for="listType" class="row-cols-1 col-form-labels">租借類型:</label>
          <select type="text" class="form-control form-select mb-sm-1"
                  th:name="listType" id="listType" aria-label="Default select example">
            <option value="">請選擇</option>
            <option th:value="場地" th:text="場地"></option>
            <option th:value="器具" th:text="器具"></option>
          </select>

          <input type="submit" value="查詢" class="btn btn-primary my-1 mx-3">
        </form>

        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">租借單資訊</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table class="table table-striped" id="rentalTable">
                <thead>
                  <tr>
                    <th></th>
                    <th>租借單ID</th>
                    <th>租借單編號</th>
                    <th>會員</th>
                    <th>下單日期</th>
                    <th>租借類型</th>
                    <th>總金額</th>
                    <th>狀態</th>
                    <th>新增</th>
                    <th>修改</th>
                    <th>刪除</th>
                    <th class="none"></th>
                  </tr>
                </thead>
                <tbody>
                <tr th:each="rental: ${rentals}">
                  <td></td>
                  <td th:text="${rental.rentalId}"></td>
                  <td th:text="${rental.rentalNo}"></td>
                  <td th:text="${rental.user.username}"></td>
                  <td th:text="${#dates.format(rental.rentalDate, 'yyyy/MM/dd HH:mm:ss')}"></td>
                  <td th:text="${rental.type}"></td>
                  <td th:text="${rental.total}"></td>
                  <td th:text="${rental.state}"></td>
                  <td th:if="${rental.type} == '器具'">
                    <a th:href="|CreateTackleList/${rental.rentalId}|"
                            class="btn btn-warning btn-icon-split btn-sm"
                            >
<!--                            th:onclick="|createTackleList(${rental.rentalId})|">-->
                      <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                      </span>
                    </a>
                  </td>
                  <td th:if="${rental.type} == '場地'">
                    <button type="button"
                            class="btn btn-warning btn-icon-split btn-sm"
                            th:onclick="|createVenueList(${rental.rentalId})|">
                      <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                      </span>
                    </button>
                  </td>
                  <td>
                    <button type="button"
                            class="btn btn-warning btn-icon-split btn-sm"
                            th:onclick="|updateRental(${rental.rentalId})|">
                      <span class="icon text-white-50">
                        <i class="fas fa-exclamation-triangle"></i>
                      </span>
                    </button>
                  </td>
                  <td>
                    <button type="button"
                            class="btn btn-warning btn-icon-split btn-sm"
                            th:onclick="|deleteRental(${rental.rentalId})|">
                      <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                      </span>
                    </button>
                  </td>
                  <td th:if="${rental.type} == '器具'">
                    <table  class="table table-striped">
                      <tr>
                        <td>清單ID:</td>
                        <td>清單編號:</td>
                        <td>出租時間:</td>
                        <td>結束時間:</td>
                        <td>歸還時間:</td>
                        <td>合計:</td>
                        <td>狀態:</td>
                        <th>修改</th>
                        <th>刪除</th>
                      </tr>
                      <tr th:each="tackleList : ${rental.tackleList}">
                        <td th:text="${tackleList.tackleListId}"></td>
                        <td th:text="${tackleList.tackleListNo}"></td>
                        <td th:text="${#dates.format(tackleList.lendDate, 'yyyy/MM/dd')}"></td>
                        <td th:text="${#dates.format(tackleList.endDate, 'yyyy/MM/dd')}"></td>
                        <td th:text="${#dates.format(tackleList.returnDate, 'yyyy/MM/dd')}"></td>
                        <td th:text="${tackleList.total}"></td>
                        <td th:text="${tackleList.state}"></td>
                        <td>
                          <button type="button" href="CreateTackleList"
                                  class="btn btn-warning btn-icon-split btn-sm"
                                  th:onclick="|updateTackleList(${tackleList.tackleListId})|">
                      <span class="icon text-white-50">
                        <i class="fas fa-exclamation-triangle"></i>
                      </span>
                          </button>
                        </td>
                        <td>
                          <button type="button"
                                  class="btn btn-warning btn-icon-split btn-sm"
                                  th:onclick="|deleteTackleList(${tackleList.tackleListId})|">
                      <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                      </span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </td>

                  <td th:if="${rental.type} == '場地'">
                    <table class="table table-striped">
                      <tr>
                        <td>清單ID:</td>
                        <td>清單編號:</td>
                        <td>租借場地:</td>
                        <td>出租日期:</td>
                        <td>出租時段:</td>
<!--                        <td>食材提供:</td>-->
                        <td>人數:</td>
                        <td>小計:</td>
                        <th>修改</th>
                        <th>刪除</th>
                      </tr>
                      <tr th:each="venueList : ${rental.venueList}">
                        <td th:text="${venueList.venueListId}"></td>
                        <td th:text="${venueList.venueListNo}"></td>
                        <td th:text="${venueList.venue.venueName}"></td>
                        <td th:text="${#dates.format(venueList.rentalDate, 'yyyy/MM/dd')}"></td>
                        <td th:text="${venueList.period}"></td>
<!--                        <td th:text="${venueList.ingredients}"></td>-->
                        <td th:text="${venueList.person}"></td>
                        <td th:text="${venueList.price}"></td>
                        <td>
                          <button type="button"
                                  class="btn btn-warning btn-icon-split btn-sm"
                                  th:onclick="|updateVenueList(${venueList.venueListId})|">
                            <span class="icon text-white-50">
                              <i class="fas fa-exclamation-triangle"></i>
                            </span>
                          </button>
                        </td>
                        <td>
                          <button type="button"
                                  class="btn btn-warning btn-icon-split btn-sm"
                                  th:onclick="|deleteVenueList(${venueList.venueListId})|">
                            <span class="icon text-white-50">
                              <i class="fas fa-trash"></i>
                            </span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->


    <div th:replace="admin/footer.html"></div>


  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<div th:replace="admin/javascript.html"></div>
<!-- Page level custom scripts -->


<!-- 訂單頁面 -->
<script th:src="@{/js/rental.js}"></script>
<script>

</script>
</body>

</html>