<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>器具管理</title>

  <div th:replace="/admin/css.html"></div>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <div th:replace="/admin/sidebar.html"></div>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <div th:replace="/admin/header.html"></div>



      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">器具管理</h1>
        <p class="mb-4">
          <button type="button"
                  class="btn btn-warning btn-icon-split btn-sm"
                  th:onclick="|createTackle()|">
                      <span
                              class="icon text-white-50"> <i class="fas fa-plus"></i>
						</span> <span class="text">新增器具</span>
          </button>
        </p>



        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">器具資訊</h6>
          </div>

          <form action="" class="form-inline">
            <label for="tName" class="row-cols-1 col-form-labels">教室名稱:</label>
            <select type="text" class="form-control form-select mb-sm-1"
                    th:name="tName" id="tName" aria-label="Default select example">
              <option value="">全部</option>
              <option th:each="tackleName : ${tackleNames}" th:text="${tackleName}"></option>
            </select>
            <input type="submit" value="查詢" class="btn btn-primary my-1 mx-3">
          </form>


          <div class="card-body">
            <div class="table-responsive">

              <table class="table table-striped" id="rentalTable">
                <thead>
                <tr>
                  <th></th>
                  <th>器具ID</th>
                  <th>器具名稱</th>
                  <th>器具型號</th>
                  <th>器具規格</th>
                  <th>價錢/1天</th>
                  <th>總數量</th>
                  <th>圖片</th>
                  <th>備註</th>
                  <th>賠償價</th>
                  <th>修改</th>
                  <th>刪除</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tackle: ${tackles}">
                  <td></td>
                  <td th:text="${tackle.tackleId}"></td>
                  <td th:text="${tackle.tackleName}"></td>
                  <td th:text="${tackle.productModel}"></td>
                  <td th:text="${tackle.specification}"></td>
                  <td th:text="${tackle.dayPrice}"></td>
                  <td th:text="${tackle.max}"></td>
                  <td th:text="${tackle.picture}"></td>
                  <td th:text="${tackle.notes}"></td>
                  <td th:text="${tackle.damages}"></td>
                  <td>
                    <button type="button" class="btn btn-warning btn-icon-split btn-sm"
                            th:onclick="|updateTackle(${tackle.tackleId})|">
                                              <span class="icon text-white-50">
                                                <i class="fas fa-exclamation-triangle"></i>
                                              </span>
                    </button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-warning btn-icon-split btn-sm"
                            th:onclick="|deleteTackle(${tackle.tackleId})|">
                                              <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                              </span>
                    </button>
                  </td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->


    <div th:replace="/admin/footer.html"></div>


  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<div th:replace="/admin/javascript.html"></div>
<!-- Page level custom scripts -->


<!-- 訂單頁面 -->
<script th:src="@{/js/rental.js}"></script>


</body>

</html>