<div class="card-body">

<form th:action="@{UpdateRental(rentalId=*{rentalId})}" method="post"
           th:object="${rentalRequest}">

    <!-- 租借編號: -->
    <p class="row mb-3">
        <span class="col-sm-3">租借編號:</span> <span class="col-sm-9" th:text="*{rentalNo}"></span>
    </p>

    <!-- 租借類型: -->
    <p class="row mb-3">
        <span class="col-sm-3">租借類型:</span><span class="col-sm-9" th:text="*{listType}"></span>
    </p>

    <!-- 會員: -->
    <div class="row mb-3">
        <label for="userId" class="col-sm-3 col-form-labels">會員:</label>
        <div class="col-sm-9">
            <select th:field="*{userId}" type="text" class="form-control form-select mb-3" name="userId"
                    id="userId" aria-label="Default select example">
                <option th:each="user1 : ${users}" th:value="${user1.userId}" th:text="${user1.userName}"></option>
            </select>
        </div>
    </div>

    <!-- 總金額: -->
    <div class="row mb-3">
        <label for="total" class="col-sm-3 col-form-labels">總金額:</label>
        <div class="col-sm-9">
            <input th:field="*{total}" type="number" class="form-control" name="total" id="total" min="0"
                   required="required" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">修改租借單</button>
</form>
</div>