<div class="card-body">

    <form th:action="@{UpdateTackleList(tackleListId=*{tackleListId})}" method="post"
               th:object="${tackleListRequest}">

        <!-- 租借編號: -->
<!--        <p class="row mb-3">-->
<!--            <span class="col-sm-3">租借編號:</span> <span class="col-sm-9" th:text="*{rental.rentalNo}"></span>-->
<!--        </p>-->
        <div class="row mb-3">
            <label for="rentalNo" class="col-sm-3 col-form-labels">租借編號:</label>
            <div class="col-sm-9">
                <input th:field="*{rental.rentalNo}" type="text" class="form-control"
                       name="rentalNo" id="rentalNo" required="required" readonly/>
            </div>
        </div>

        <!-- 租借類型: -->
<!--        <p class="row mb-3">-->
<!--            <span class="col-sm-3">租借類型:</span><span class="col-sm-9" th:text="*{rental.type}"></span>-->
<!--        </p>-->
        <div class="row mb-3">
            <label for="listType" class="col-sm-3 col-form-labels">租借類型:</label>
            <div class="col-sm-9">
                <input th:field="*{rental.type}" type="text" class="form-control"
                       name="listType" id="listType" required="required" readonly/>
            </div>
        </div>

        <!-- 清單編號: -->
<!--        <p class="row mb-3">-->
<!--            <span class="col-sm-3">清單編號:</span><span class="col-sm-9" th:text="*{tackleListNo}"></span>-->
<!--        </p>-->
        <div class="row mb-3">
            <label for="tackleListNo" class="col-sm-3 col-form-labels">清單編號:</label>
            <div class="col-sm-9">
                <input th:field="*{tackleListNo}" type="text" class="form-control"
                       name="tackleListNo" id="tackleListNo" required="required" readonly/>
            </div>
        </div>

        <!-- 租借器具: -->
        <div class="row mb-3">
            <label for="tackleId" class="col-sm-3 col-form-labels">租借器具:</label>
            <div class="col-sm-9" >
                <select th:field="*{tackle.tackleId}" class="form-control form-select mb-3" name="tackleId"
                        type="text"  id="tackleId" aria-label="Default select example" >
                    <option th:each="tackle : ${tackles}" th:value="${tackle.tackleId}"
                            th:text="${tackle.tackleName}" ></option>
                </select>
            </div>
        </div>

        <!-- 租借狀態: -->
        <div class="row mb-3">
            <label for="state" class="col-sm-3 col-form-labels">租借狀態:</label>
            <div class="col-sm-9" >
                <select th:field="*{state}" class="form-control form-select mb-3" name="state"
                        type="text" id="state" aria-label="Default select example" th:onchange="|getState()|">
                    <option th:value="unrented" th:text="未出租" ></option>
                    <option th:value="rented" th:text="已出租"></option>
                    <option th:value="return" th:text="已歸還"></option>
                    <option th:value="noReturn" th:text="未歸還"></option>
                </select>
            </div>
        </div>

        <!-- 出租時間: -->
        <div class="row mb-3">
            <label for="lendDate" class="col-sm-3 col-form-labels">出租時間:</label>
            <div class="col-sm-9">
                <input th:field="*{lendDate}" type="date" class="form-control" th:onchange="|checkTLD()|"
                       name="lendDate" id="lendDate" required="required" />
                <span class="show" id="s_lDate"></span>
            </div>
        </div>

        <!-- 結束時間: -->
        <div class="row mb-3">
            <label for="endDate" class="col-sm-3 col-form-labels">結束時間:</label>
            <div class="col-sm-9">
                <input th:field="*{endDate}" type="date" class="form-control" th:onchange="|checkTED()|"
                       name="endDate" id="endDate" required="required" />
                <span class="show" id="s_eDate"></span>
            </div>
        </div>

        <!-- 歸還時間: -->
        <div class="row mb-3" id="rD" style="display: none">
            <label for="returnDate" class="col-sm-3 col-form-labels">歸還時間:</label>
            <div class="col-sm-9">
                <input th:field="*{returnDate}" type="date" class="form-control" th:onchange="|checkTRD()|"
                       name="returnDate" id="returnDate" />
                <span class="show" id="s_rDate"></span>
            </div>
        </div>

        <!-- 數量: -->
        <div class="row mb-3">
            <label for="quantity" class="col-sm-3 col-form-labels">數量:</label>
            <div class="col-sm-9">
                <input th:field="*{quantity}" type="number" class="form-control"
                       name="quantity" id="quantity" min="1" required="required" />
            </div>
        </div>

        <!-- 小計: -->
        <div class="row mb-3">
            <label for="price" class="col-sm-3 col-form-labels">小計:</label>
            <div class="col-sm-9">
                <input th:field="*{price}" type="number" class="form-control"
                       name="price" id="price" min="0" required="required" />
            </div>
        </div>

        <button type="submit" id="submit_List" class="btn btn-primary">修改器具清單</button>
    </form>
</div>