<div class="card-body">



    <form th:action="@{UpdateTackle(tackleId=*{tackleId})}" method="post"
          th:object="${tackleRequest}" enctype="multipart/form-data">

        <!-- 器具ID: -->
        <div class="row mb-3">
            <label for="tId" class="col-sm-3 col-form-labels">器具ID:</label>
            <div class="col-sm-9">
                <input th:field="*{tackleId}" type="text" class="form-control"
                       name="tackleId" id="tId" th:readonly="true"/>
            </div>
        </div>

        <!-- 器具名稱: -->
        <div class="row mb-3">
            <label for="tName" class="col-sm-3 col-form-labels">器具名稱:</label>
            <div class="col-sm-9">
                <input th:field="*{tackleName}" type="text" class="form-control" th:onblur="|checkTN()|"
                       name="tackleName" id="tName" required="required"/>
                <span class="show" id="s_tName"></span>
            </div>
        </div>


        <!-- 器具規格: -->
        <div class="row mb-3">
            <label for="spe" class="col-sm-3 col-form-labels">器具規格:</label>
            <div class="col-sm-9">
                <input th:field="*{specification}" type="text" class="form-control"
                       name="specification" id="spe" />
            </div>
        </div>


        <!-- 價錢/1天: -->
        <div class="row mb-3">
            <label for="daPri" class="col-sm-3 col-form-labels"> 價錢/天:</label>
            <div class="col-sm-9">
                <input th:field="*{dayPrice}" type="number" class="form-control"
                       name="dayPrice" id="daPri" th:min="1" th:max="500" required="required"/>
            </div>
        </div>


        <!-- 損毀價錢: -->
        <div class="row mb-3">
            <label for="dam" class="col-sm-3 col-form-labels"> 損毀價錢:</label>
            <div class="col-sm-9">
                <input th:field="*{damages}" type="number" class="form-control"
                       name="damages" id="dam" th:min="1" th:max="10000" required="required"/>
            </div>
        </div>


        <!-- 總數量: -->
        <div class="row mb-3">
            <label for="max" class="col-sm-3 col-form-labels"> 總數量:</label>
            <div class="col-sm-9">
                <input th:field="*{max}" type="number" class="form-control"
                       name="max" id="max" th:min="1" th:max="200" required="required"/>
            </div>
        </div>

        <!-- 圖片: -->
        <div class="row mb-3">
            <label for="image" class="col-sm-3 col-form-labels"> 圖片:</label>
            <div class="col-sm-9">
                <input th:field="*{tackleImage}" type="file" th:name="tackleImage" value="上傳" id="image" />
            </div>
        </div>
        <!-- 圖片顯示 -->
        <div class="row mb-3">
            <img id="images" th:src="*{picture}" width="200" height="200" style="margin:auto"/>
        </div>

        <!-- 備註: -->
<!--            <div class="row mb-3">-->
<!--                <label for="tNote" class="col-sm-3 col-form-labels"> 備註:</label>-->
<!--                <div class="col-sm-9">-->
<!--                    <textarea th:field="*{notes}" class="form-control" th:name="notes" id="tNote" ></textarea>-->
<!--                </div>-->
<!--            </div>-->

        <button type="submit" id="submit" class="btn btn-primary">修改</button>

        </form>
</div>